@using Fotiv_Automator.Areas.GamePortal
@model Fotiv_Automator.Areas.GamePortal.ViewModels.Forms.StageOfLifeForm
@{
    ViewBag.Title = string.Format("Edit Stage of Life");
}

<div class="row">
    @using (Html.BeginForm())
    {

        <div class="hidden" id="anti-forgery-container">
            @Html.AntiForgeryToken()
        </div>

        <div class="col-md-6">
            @Html.ValidationSummary()

            <div>
                @Html.LabelFor(x => x.ID)
                @Html.DisplayTextFor(x => x.ID)
                @Html.HiddenFor(x => x.ID)
            </div>

            <div>
                @Html.LabelFor(x => x.Name)
                @Html.EditorFor(x => x.Name)
            </div>

            <input class="btn btn-default editButton" type="submit" value="Edit Stage Of Life" />

            <a href="@Url.Action("Delete", "StageOfLife", new { gameID = GameState.Game.ID, stageOfLifeID = Model.ID})"
               class="btn btn-danger"
               data-delete="THIS ACTION IS FINAL. Are you sure you want to delete this?">
                <i class="glyphicon glyphicon-remove"></i> Delete
            </a>
        </div>
    }
</div>