@using Fotiv_Automator.Areas.GamePortal;
@model Fotiv_Automator.Areas.GamePortal.ViewModels.Forms.GameForm
@{
    ViewBag.Title = string.Format("Game Settings");

    bool isGMOrAdmin = Fotiv_Automator.Infrastructure.Attributes.RequireGMAdminAttribute.IsGMOrAdmin();
}

<div class="row">
    <div class="col-md-6">
        @using (Html.BeginForm())
        {
            <div class="hidden" id="anti-forgery-container">
                @Html.AntiForgeryToken()
            </div>

            @Html.ValidationSummary()

            <div>
                @Html.LabelFor(x => x.GameID)
                @Html.DisplayTextFor(x => x.GameID)
                @Html.HiddenFor(x => x.GameID)
            </div>

            <div>
                @Html.LabelFor(x => x.Name)

                @if (isGMOrAdmin)
                {
                    @Html.EditorFor(x => x.Name);
                }
                else
                {
                    @Html.DisplayTextFor(x => x.Name);
                }
            </div>

            <div>
                @Html.LabelFor(x => x.Description)
                @if (isGMOrAdmin)
                {
                    @Html.TextAreaFor(x => x.Description);
                }
                else
                {
                    @Html.DisplayTextFor(x => x.Description);
                }
            </div>

            <div>
                @Html.LabelFor(x => x.TurnNumber)
                @if (isGMOrAdmin)
                {
                    @Html.TextBoxFor(x => x.TurnNumber);
                }
                else
                {
                    @Html.DisplayTextFor(x => x.TurnNumber);
                }
            </div>

            <div>
                @Html.LabelFor(x => x.OpenedToPublic)
                @if (isGMOrAdmin)
                {
                    @Html.CheckBoxFor(x => x.OpenedToPublic)
                }
                else
                {
                    if (Model.OpenedToPublic)
                    {
                        <p>Public</p>
                    }
                    else
                    {
                        <p>Private</p>
                    }
                }
            </div>

            <div class="panel panel-info">
                <div class="panel-heading">Game Masters</div>
                <div class="panel-body potentialGMEditor">
                    <ul class="trait-select">
                        @for (var i = 0; i < Model.PotentialGMs.Count; i++)
                        {
                            if (isGMOrAdmin)
                            {
                                <li>
                                    @Html.HiddenFor(x => x.PotentialGMs[i].ID)

                                    @Html.DisplayFor(x => x.PotentialGMs[i].Name)
                                    @Html.HiddenFor(x => x.PotentialGMs[i].Name)

                                    @Html.CheckBoxFor(x => x.PotentialGMs[i].IsChecked)
                                </li>
                            }
                            else
                            {
                                <li>
                                    <p>@Model.PotentialGMs[i].Name</p>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>

            if (isGMOrAdmin)
            {
                <div>
                    <input class="btn btn-default editButton" type="submit" value="Update Game" />
                </div>
            }
        }
    </div>

    <div class="col-md-6">
        @if (isGMOrAdmin)
        {
            <h1>Quick Actions</h1>
            <h2>Main Actions</h2>
            <div class="btn-group">
                <a href="@Url.RouteUrl("NewCivilization", new { gameID = GameState.Game.ID })" class="btn btn-default">
                    New Civilization
                </a>
                <a href="@Url.RouteUrl("NewStarMap", new { gameID = GameState.Game.ID })" class="btn btn-default">
                    New Star Map
                </a>
            </div>

            <h2>Statistics Actions</h2>
            <div class="btn-group">
                <a href="@Url.RouteUrl("NewCivilizationTrait", new { gameID = GameState.Game.ID })" class="btn btn-default">
                    New Civilization Trait
                </a>
                <a href="@Url.RouteUrl("NewInfrastructure", new { gameID = GameState.Game.ID })" class="btn btn-default">
                    New Infrastructure
                </a>
                <a href="@Url.RouteUrl("NewResearch", new { gameID = GameState.Game.ID })" class="btn btn-default">
                    New Research
                </a>
                <a href="@Url.RouteUrl("NewUnit", new { gameID = GameState.Game.ID })" class="btn btn-default">
                    New Unit
                </a>
                <a href="@Url.RouteUrl("NewUnitCategory", new { gameID = GameState.Game.ID })" class="btn btn-default">
                    New Unit Category
                </a>
                <a href="@Url.RouteUrl("NewExperienceLevel", new { gameID = GameState.Game.ID })" class="btn btn-default">
                    New Experience Level
                </a>
                <a href="@Url.RouteUrl("NewSpecies", new { gameID = GameState.Game.ID })" class="btn btn-default">
                    New Species
                </a>
                <a href="@Url.RouteUrl("NewTechLevel", new { gameID = GameState.Game.ID })" class="btn btn-default">
                    New Tech Level
                </a>
            </div>

            <h3>Sector Map</h3>
            <div class="btn-group">
                <a href="@Url.RouteUrl("NewPlanetTier", new { gameID = GameState.Game.ID })" class="btn btn-default">
                    New Planetary Tier
                </a>
                <a href="@Url.RouteUrl("NewPlanetType", new { gameID = GameState.Game.ID })" class="btn btn-default">
                    New Planet Type
                </a>
                <a href="@Url.RouteUrl("NewStarType", new { gameID = GameState.Game.ID })" class="btn btn-default">
                    New Star Type
                </a>
                <a href="@Url.RouteUrl("NewStarAge", new { gameID = GameState.Game.ID })" class="btn btn-default">
                    New Star Age
                </a>
                <a href="@Url.RouteUrl("NewRadiationLevel", new { gameID = GameState.Game.ID })" class="btn btn-default">
                    New Radiation Level
                </a>
                <a href="@Url.RouteUrl("NewStageOfLife", new { gameID = GameState.Game.ID })" class="btn btn-default">
                    New Stage of Life
                </a>
            </div>
        }

        <h1>Game Options</h1>
        <div class="btn-group">
            @if (isGMOrAdmin)
            {
                <a href="@Url.Action("NextTurn", "Game", new { gameID = Model.GameID })"
                   class="btn btn-default"
                   data-delete="Your current turn is @Model.TurnNumber. By Incrementing your turn your turn will become @(Model.TurnNumber + 1). This Action is Irreversible, Are you sure you want to continue?">
                    <i class="glyphicon glyphicon-remove"></i> Increment Turn
                </a>
                <a href="@Url.Action("HealEverythingToMax", "Game", new { gameID = Model.GameID })"
                   class="btn btn-default"
                   data-delete="By Activating this action, all entities within the game will be forced to Maximum Health. This Action is Irreversible, Are you sure you want to continue?">
                    <i class="glyphicon glyphicon-remove"></i> Heal Everything To Max
                </a>
            }

            <div class="btn-group">
                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Danger <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    @if (isGMOrAdmin)
                    {
                        <li>
                            <a href="@Url.Action("Delete", "Game", new { gameID = Model.GameID })"
                               class="btn btn-danger"
                               data-delete="THIS ACTION IS FINAL. Are you sure you want to delete this?">
                                <i class="glyphicon glyphicon-remove"></i> Delete Game
                            </a>
                        </li>
                    }
                    @if (GameState.Game.Players.Count > 1)
                    {
                        <li>
                            <a href="@Url.Action("LeaveGame", "Game", new { gameID = Model.GameID })"
                               class="btn btn-danger"
                               data-delete="THIS ACTION IS FINAL. Are you sure you want to leave this game?">
                                <i class="glyphicon glyphicon-remove"></i> Leave Game
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>