@model Fotiv_Automator.Areas.GamePortal.ViewModels.Forms.GameForm
@{
    ViewBag.Title = string.Format("Game Settings");
}

<div class="row">
    <div class="col-md-6">
        @using (Html.BeginForm())
        {
            <div class="hidden" id="anti-forgery-container">
                @Html.AntiForgeryToken()
            </div>

            @Html.ValidationSummary()

            <div>
                @Html.LabelFor(x => x.GameID)
                @Html.DisplayTextFor(x => x.GameID)
                @Html.HiddenFor(x => x.GameID)
            </div>

            <div>
                @Html.LabelFor(x => x.Name)
                @Html.EditorFor(x => x.Name)
            </div>

            <div>
                @Html.LabelFor(x => x.Description)
                @Html.TextAreaFor(x => x.Description)
            </div>

            <div>
                @Html.LabelFor(x => x.OpenedToPublic)
                @Html.CheckBoxFor(x => x.OpenedToPublic)
            </div>

            <div>
                <input class="btn btn-default editButton" type="submit" value="Update Game" />
            </div>
        }
    </div>

    <div class="col-md-6">
        <h1>Quick Actions</h1>
        <h2>Main Actions</h2>
        <a href="@Url.RouteUrl("NewCivilization")" class="btn btn-default">
            New Civilization
        </a>

        <h2>Statistics Actions</h2>
        <a href="@Url.RouteUrl("NewInfrastructure")" class="btn btn-default">
            New Infrastructure
        </a>
        <a href="@Url.RouteUrl("NewResearch")" class="btn btn-default">
            New Research
        </a>
        <a href="@Url.RouteUrl("NewShip")" class="btn btn-default">
            New Ship
        </a>
        <a href="@Url.RouteUrl("NewShipRate")" class="btn btn-default">
            New Ship Rate
        </a>
        <a href="@Url.RouteUrl("NewPlanetTier")" class="btn btn-default">
            New Planetary Tier
        </a>
        <a href="@Url.RouteUrl("NewCivilizationTrait")" class="btn btn-default pull-right">
            New Civilization Trait
        </a>
        <a href="@Url.RouteUrl("NewSpecies")" class="btn btn-default pull-right">
            New Species
        </a>
    </div>
</div>

<div class="row">
    <a href="@Url.Action("Delete", "Game", new { gameID = Model.GameID})"
       class="btn btn-danger"
       data-delete="THIS ACTION IS FINAL. Are you sure you want to delete this?">
        <i class="glyphicon glyphicon-remove"></i> Delete Game
    </a>
</div>