@model Fotiv_Automator.Areas.GamePortal.ViewModels.IndexGames
@{
    ViewBag.Title = string.Format("All Games");
}

<h1>Game Browser</h1>

<div class="row">
    <h2>
        Games
        <a href="@Url.RouteUrl("NewGame")" class="btn btn-default pull-right">
            New Game
        </a>
    </h2>

    <table class="table table-striped sortable">
        <thead>
            <tr>
                <th data-defaultsort="asc">ID</th>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var game in Model.Games)
            {
                <tr>
                    <td>@game.id</td>
                    <td>
                        <a href="@Url.RouteUrl("Game", new { gameID = game.id })">
                            @game.name
                        </a>
                    </td>
                    <td>@game.description</td>
                </tr>
            }
        </tbody>
    </table>
</div>


