@using Fotiv_Automator.Areas.GamePortal;
@model Fotiv_Automator.Areas.GamePortal.ViewModels.IndexBattlegroupShips
@{
    ViewBag.Title = string.Format("R&D Research for {0}", Model.CivilizationName);
}

<h1>Battlegroups for @Model.CivilizationName</h1>

<div class="row">
    <h2>
        Battlegroups
        @if (GameState.Game.GetCivilization(Model.CivilizationID).Assets.HasResearchSlots &&
            (Fotiv_Automator.Infrastructure.Attributes.RequireGMAdminAttribute.IsGMOrAdmin() || Model.PlayerOwnsCivilization))
        {
            <a href="@Url.RouteUrl("NewBattlegroupShip", new { civilizationID = Model.CivilizationID })" class="btn btn-default pull-right">
                New Battlegroup
            </a>
        }
    </h2>
    <table class="table table-striped sortable">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Number of Ships</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var bg in Model.Battlegroups)
            {
                <tr>
                    <td>@bg.ID</td>
                    <td>
                        <a href="@Url.RouteUrl("ViewBattlegroupShip", new { battlegroupID = bg.ID })">
                            @bg.Info.name
                        </a>
                    </td>
                    <td>@bg.Ships.Count </td>
                </tr>
            }
        </tbody>
    </table>

</div>


