@model Fotiv_Automator.Areas.GamePortal.ViewModels.ViewCivilizationUnits
@{
    ViewBag.Title = Model.Unit.CivilizationInfo.name;
}

<div class="row">
    <h1>
        @Model.Unit.CivilizationInfo.name - @Model.Unit.Unit.Info.name

        @if (Fotiv_Automator.Infrastructure.Attributes.RequireGMAdminAttribute.IsGMOrAdmin())
        {
            <a href="@Url.RouteUrl("EditCivilizationUnit", new { civilizationInfrastructureID = Model.Unit.CivilizationInfo.id })" class="btn btn-default pull-right">
                Edit Civilization Unit
            </a>
        }
    </h1>

    <p>@Model.Unit.Unit.Info.description</p>

    @if ((Model.User.GameUserInfo.is_gm || User.IsInRole("Admin")) && !string.IsNullOrWhiteSpace(Model.Unit.CivilizationInfo.gmnotes))
    {
        <h2>GM Notes</h2>
        <p>@Model.Unit.CivilizationInfo.gmnotes</p>
    }

    <h2>Civilization Details</h2>
    <table class="table table-striped sortable">
        <thead>
            <tr>
                <th>ID</th>
                <th>RP Cost</th>
                <th>Name</th>
                <th>Species</th>

                <th>Unit</th>
                <th>Battlegroup</th>
                <th>Current Health</th>
                <th>Experience</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.Unit.CivilizationInfo.id</td>
                <td>@Model.Unit.Unit.Info.rp_cost</td>
                <td>@Model.Unit.CivilizationInfo.name</td>
                <td>
                    <a href="@Url.RouteUrl("ViewSpecies", new { speciesID = Model.Unit.CivilizationInfo.species_id })">
                        @(Model.Unit.CivilizationInfo.species_id == null ? "" : Model.Unit.CivilizationInfo.species_id + " - " + @Model.Unit.SpeciesInfo.name)
                    </a>
                </td>

                <td>
                    <a href="@Url.RouteUrl("ViewUnit", new { unitID = Model.Unit.CivilizationInfo.unit_id })">
                        @Model.Unit.CivilizationInfo.unit_id - @Model.Unit.Unit.Info.name
                    </a>
                </td>

                <td>
                    <a href="@Url.RouteUrl("ViewBattlegroup", new { battlegroupID = Model.Unit.CivilizationInfo.battlegroup_id })">
                        @(Model.Unit.CivilizationInfo.battlegroup_id == null ? "" : Model.Unit.CivilizationInfo.battlegroup_id + " - " + @Model.Unit.BattlegroupInfo.name)
                    </a>
                </td>
                <td>@Model.Unit.CivilizationInfo.current_health</td>
                <td>
                    <a href="@Url.RouteUrl("ViewExperienceLevel", new { experienceLevelID = Model.Unit.ExperienceLevel.id })" class="">
                        @(Model.Unit.CivilizationInfo.experience)XP
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

    <h2>Unit Statistics</h2>
    <h2>Overview</h2>
    <table class="table table-striped sortable">
        <thead>
            <tr>
                <th data-defaultsort="asc">ID</th>
                <th>Name</th>
                <th>Unit Type</th>

                <th>Unit Category</th>
                <th>Build Rate</th>
                <th>Military</th>

                <th>RP Cost</th>
                <th># Build</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.Unit.Unit.Info.id</td>

                <td>@Model.Unit.Unit.Info.name</td>
                <td>@Model.Unit.Unit.Info.unit_type</td>

                <td>
                    <a href="@Url.RouteUrl("ViewUnitCategory", new { unitCategoryID = Model.Unit.Unit.UnitCategory.id })">
                        @Model.Unit.Unit.UnitCategory.name
                    </a>
                </td>
                <td>@Model.Unit.Unit.UnitCategory.build_rate</td>
                <td>@(Model.Unit.Unit.UnitCategory.is_military ? "Yes" : "No")</td>

                <td>@Model.Unit.Unit.Info.rp_cost</td>
                <td>@Model.Unit.Unit.Info.number_to_build</td>
            </tr>
        </tbody>
    </table>

    <h2>Capabilities</h2>
    <table class="table table-striped sortable">
        <thead>
            <tr>
                <th>Can Embark</th>
                <th>Attack Ground Units</th>
                <th>Attack Boats</th>
                <th>Attack Planes</th>
                <th>Attack Spaceships</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@(Model.Unit.Unit.Info.can_embark ? "Yes" : "No")</td>
                <td>@(Model.Unit.Unit.Info.can_attack_ground_units ? "Yes" : "No")</td>
                <td>@(Model.Unit.Unit.Info.can_attack_boats ? "Yes" : "No")</td>
                <td>@(Model.Unit.Unit.Info.can_attack_planes ? "Yes" : "No")</td>
                <td>@(Model.Unit.Unit.Info.can_attack_spaceships ? "Yes" : "No")</td>
            </tr>
        </tbody>
    </table>

    <h2>Statistics</h2>
    <table class="table table-striped sortable">
        <thead>
            <tr>
                <th data-defaultsort="asc">Base Health</th>
                <th>Base Regeneration</th>
                <th>Base Attack</th>
                <th>Base Special Attack</th>
                <th>Base Agility</th>

                <th>Embarking Slots</th>
                <th>Negate Damage</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.Unit.Unit.Info.base_health</td>
                <td>@Model.Unit.Unit.Info.base_regeneration</td>
                <td>@Model.Unit.Unit.Info.base_attack</td>
                <td>@Model.Unit.Unit.Info.base_special_attack</td>
                <td>@Model.Unit.Unit.Info.base_agility</td>

                <td>@Model.Unit.Unit.Info.embarking_slots</td>
                <td>@Model.Unit.Unit.Info.negate_damage</td>
            </tr>
        </tbody>
    </table>

    @if (Fotiv_Automator.Infrastructure.Attributes.RequireGMAdminAttribute.IsGMOrAdmin() ||
        Model.PlayerOwnsCivilization)
    {
        <div class="hidden" id="anti-forgery-container">
            @Html.AntiForgeryToken()
        </div>

        <a href="@Url.Action("Delete", new { civilizationUnitID = Model.Unit.CivilizationInfo.id })"
           class="btn btn-danger"
           data-delete="THIS ACTION IS FINAL. All progress towards this will be lost. Are you sure you want to delete this?">
            <i class="glyphicon glyphicon-remove"></i> Delete
        </a>
    }
</div>