@using Fotiv_Automator.Areas.GamePortal
@model Fotiv_Automator.Areas.GamePortal.ViewModels.Forms.PlanetForm
@{
    ViewBag.Title = string.Format("Edit Planet");
}

<div class="row">
    @using (Html.BeginForm())
    {

        <div class="hidden" id="anti-forgery-container">
            @Html.AntiForgeryToken()
        </div>

        <div class="col-md-6">
            @Html.ValidationSummary()

            <div>
                @Html.LabelFor(x => x.ID)
                @Html.DisplayTextFor(x => x.ID)
                @Html.HiddenFor(x => x.ID)
            </div>

            <div>
                @Html.LabelFor(x => x.StarID)
                @Html.DisplayTextFor(x => x.StarID)
                @Html.HiddenFor(x => x.StarID)
            </div>

            <div>
                @Html.LabelFor(x => x.OrbitingPlanetID)
                @Html.DisplayTextFor(x => x.OrbitingPlanetID)
                @Html.HiddenFor(x => x.OrbitingPlanetID)
            </div>

            <div>
                @Html.LabelFor(x => x.Name)
                @Html.EditorFor(x => x.Name)
            </div>

            <div>
                @Html.LabelFor(x => x.Resources)
                @Html.EditorFor(x => x.Resources)
            </div>

            <div>
                @Html.LabelFor(x => x.SupportsColonies)
                @Html.CheckBoxFor(x => x.SupportsColonies)
            </div>

            <div>
                @Html.LabelFor(x => x.GMNotes)
                @Html.TextAreaFor(x => x.GMNotes)
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">Planet Type</div>
                <div class="panel-body">
                    <ul class="owner-select">
                        @for (var i = 0; i < Model.PlanetTypes.Count; i++)
                        {
                            var planetType = Model.PlanetTypes[i];
                            <li>
                                @Html.HiddenFor(x => x.PlanetTypes[i].ID)

                                @Html.DisplayFor(x => x.PlanetTypes[i].Name)
                                @Html.HiddenFor(x => x.PlanetTypes[i].Name)

                                @if (Model.PlanetTypes[i].IsChecked)
                                {
                                    @Html.RadioButtonFor(x => x.SelectedPlanetType, Model.PlanetTypes[i].ID, new { id = "planetType" + planetType.ID, @checked = "checked" })
                                }
                                else
                                {
                                    @Html.RadioButtonFor(x => x.SelectedPlanetType, Model.PlanetTypes[i].ID, new { id = "planetType" + planetType.ID })
                                }
                            </li>
                        }
                    </ul>
                </div>
            </div>

            <div class="panel panel-info">
                <div class="panel-heading">Planet Tier</div>
                <div class="panel-body">
                    <ul class="owner-select">
                        @for (var i = 0; i < Model.PlanetTiers.Count; i++)
                        {
                            var planetTier = Model.PlanetTiers[i];
                            <li>
                                @Html.HiddenFor(x => x.PlanetTiers[i].ID)

                                @Html.DisplayFor(x => x.PlanetTiers[i].Name)
                                @Html.HiddenFor(x => x.PlanetTiers[i].Name)

                                @if (Model.PlanetTiers[i].IsChecked)
                                {
                                    @Html.RadioButtonFor(x => x.SelectedPlanetTier, Model.PlanetTiers[i].ID, new { id = "planetTier" + planetTier.ID, @checked = "checked" })
                                }
                                else
                                {
                                    @Html.RadioButtonFor(x => x.SelectedPlanetTier, Model.PlanetTiers[i].ID, new { id = "planetTier" + planetTier.ID })
                                }
                            </li>
                        }
                    </ul>
                </div>
            </div>

            <div class="panel panel-info">
                <div class="panel-heading">Stage of Life</div>
                <div class="panel-body">
                    <ul class="owner-select">
                        @for (var i = 0; i < Model.StagesOfLife.Count; i++)
                        {
                            var stageOfLife = Model.StagesOfLife[i];
                            <li>
                                @Html.HiddenFor(x => x.StagesOfLife[i].ID)

                                @Html.DisplayFor(x => x.StagesOfLife[i].Name)
                                @Html.HiddenFor(x => x.StagesOfLife[i].Name)

                                @if (Model.StagesOfLife[i].IsChecked)
                                {
                                    @Html.RadioButtonFor(x => x.SelectedStageOfLife, Model.StagesOfLife[i].ID, new { id = "stageOfLife" + stageOfLife.ID, @checked = "checked" })
                                }
                                else
                                {
                                    @Html.RadioButtonFor(x => x.SelectedStageOfLife, Model.StagesOfLife[i].ID, new { id = "stageOfLife" + stageOfLife.ID })
                                }
                            </li>
                        }
                    </ul>
                </div>
            </div>

            <input class="btn btn-default editButton" type="submit" value="Edit Planet" />

            <a href="@Url.Action("Delete", "Planet", new { gameID = GameState.Game.ID, planetID = Model.ID })"
               class="btn btn-danger"
               data-delete="THIS ACTION IS FINAL. Are you sure you want to delete this?">
                <i class="glyphicon glyphicon-remove"></i> Delete
            </a>
        </div>
    }
</div>