@using Fotiv_Automator.Areas.GamePortal.ViewModels;
@model Fotiv_Automator.Areas.GamePortal.ViewModels.ViewPlanet
@{
    ViewBag.Title = Model.Planet.Info.name;
}

<div class="row">
    <h1>
        @Model.Planet.Info.name

        @if (Model.User.GameUserInfo.is_gm || User.IsInRole("Admin"))
        {
            <a href="@Url.RouteUrl("EditPlanet", new { gameID = Model.User.GameUserInfo.game_id, planetID = Model.Planet.PlanetID })" class="btn btn-default pull-right">
                Edit Planet
            </a>
        }
    </h1>

    @if ((Model.User.GameUserInfo.is_gm || User.IsInRole("Admin")) && !string.IsNullOrWhiteSpace(Model.Planet.Info.gmnotes))
    {
        <h2>GM Notes</h2>
        <p>@Model.Planet.Info.gmnotes</p>
    }

    <div class="col-md-12">
        <h2>Overview</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Planet ID</th>
                    <th>Star ID</th>
                    <th>Name</th>
                    <th>Resources</th>
                    <th>Type</th>
                    <th>Tier</th>
                    <th>Stage of Life</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.Planet.PlanetID</td>
                    <td>
                        <a href="@Url.RouteUrl("ViewStar", new { gameID = Model.User.GameUserInfo.game_id, starID = Model.Planet.Info.star_id })">
                            @Model.Planet.Info.star_id
                        </a>
                    </td>
                    <td>@Model.Planet.Info.name</td>
                    <td>@(Model.Planet.Info.resources)RP</td>
                    <td>
                        <a href="@Url.RouteUrl("ViewPlanetType", new { gameID = Model.User.GameUserInfo.game_id, planetTypeID = Model.Planet.TypeInfo.id })">
                            @Model.Planet.TypeInfo.name
                        </a>
                    </td>
                    <td>
                        <a href="@Url.RouteUrl("ViewPlanetTier", new { gameID = Model.User.GameUserInfo.game_id, planetTierID = Model.Planet.TierInfo.id })">
                            @Model.Planet.TierInfo.name
                        </a>
                    </td>
                    <td>
                        <a href="@Url.RouteUrl("ViewStageOfLife", new { gameID = Model.User.GameUserInfo.game_id, stageOfLifeID = Model.Planet.StageOfLifeInfo.id })">
                            @Model.Planet.StageOfLifeInfo.name
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>

        <h2>Infrastructure</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Civilization</th>
                    <th>Name</th>
                    <th>Infrastructure Name</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var infrastructure in Model.Planet.Infrastructure)
                {
                    <tr>
                        <td>@infrastructure.CivilizationInfo.id</td>
                        <td>
                            <a href="@Url.RouteUrl("ViewCivilization", new { gameID = Model.User.GameUserInfo.game_id, civilizationID = infrastructure.Owner.Info.id })">
                                @infrastructure.Owner.Info.name
                            </a>
                        </td>
                        <td>
                            <a href="@Url.RouteUrl("ViewRnDColonialDevelopment", new { gameID = Model.User.GameUserInfo.game_id, civilizationID = infrastructure.Owner.Info.id, rndColonialDevelopmentID = infrastructure.CivilizationInfo.id })">
                                @infrastructure.CivilizationInfo.name
                            </a>
                        </td>
                        <td>
                            <a href="@Url.RouteUrl("ViewInfrastructure", new { gameID = Model.User.GameUserInfo.game_id, infrastructureID = infrastructure.CivilizationInfo.struct_id })">
                                @infrastructure.InfrastructureInfo.Infrastructure.name
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <h2>
            Satellites

            @if (Model.User.GameUserInfo.is_gm || User.IsInRole("Admin"))
            {
                <a href="@Url.RouteUrl("NewPlanet", new { gameID = Model.User.GameUserInfo.game_id, starID = Model.Planet.Info.star_id, orbitingPlanetID = Model.Planet.PlanetID })" class="btn btn-default pull-right">
                    New Satellite
                </a>
            }
        </h2>
        @if (Model.Planet.HasSatellites)
        {
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Resources</th>
                        <th>Type</th>
                        <th>Tier</th>
                        <th>Stage of Life</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var satellite in Model.Planet.Satellites)
                    {
                        <tr>
                            <td>@satellite.PlanetID</td>
                            <td>
                                <a href="@Url.RouteUrl("ViewPlanet", new { gameID = Model.User.GameUserInfo.game_id, planetID = satellite.PlanetID })">
                                    @satellite.Info.name
                                </a>
                            </td>
                            <td>@(satellite.Info.resources)RP</td>
                            <td>
                                <a href="@Url.RouteUrl("ViewPlanetType", new { gameID = Model.User.GameUserInfo.game_id, planetTypeID = satellite.TypeInfo.id })">
                                    @satellite.TypeInfo.name
                                </a>
                            </td>
                            <td>
                                <a href="@Url.RouteUrl("ViewPlanetTier", new { gameID = Model.User.GameUserInfo.game_id, planetTierID = satellite.TierInfo.id })">
                                    @satellite.TierInfo.name
                                </a>
                            </td>
                            <td>
                                <a href="@Url.RouteUrl("ViewStageOfLife", new { gameID = Model.User.GameUserInfo.game_id, stageOfLifeID = satellite.StageOfLifeInfo.id })">
                                    @satellite.StageOfLifeInfo.name
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>