@model Fotiv_Automator.Areas.GamePortal.ViewModels.Forms.RnDResearchForm
@{
    ViewBag.Title = string.Format("Edit Research");
}

<div class="row">
    @using (Html.BeginForm())
    {

        <div class="hidden" id="anti-forgery-container">
            @Html.AntiForgeryToken()
        </div> 

        <div class="col-md-6">
            @Html.ValidationSummary()

            <div>
                @Html.LabelFor(x => x.ID)
                @Html.DisplayTextFor(x => x.ID)
                @Html.HiddenFor(x => x.ID)
            </div>

            <div>
                @Html.LabelFor(x => x.CivilizationID)
                @Html.DisplayTextFor(x => x.CivilizationID)
                @Html.HiddenFor(x => x.CivilizationID)
            </div>

            <div>
                @Html.LabelFor(x => x.BuildPercentage)
                @if (Fotiv_Automator.Infrastructure.Attributes.RequireGMAdminAttribute.IsGMOrAdmin())
                {
                    @Html.EditorFor(x => x.BuildPercentage)
                }
                else
                {
                    @Html.DisplayTextFor(x => x.BuildPercentage)
                    @Html.HiddenFor(x => x.BuildPercentage)
                }
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">Research</div>
                <div class="panel-body">
                    <ul class="item-select">
                        @for (var i = 0; i < Model.Research.Count; i++)
                        {
                            var research = Model.Research[i];
                            <li>
                                @Html.HiddenFor(x => x.Research[i].ID)

                                @Html.DisplayFor(x => x.Research[i].Name)
                                @Html.HiddenFor(x => x.Research[i].Name)

                                @if (Model.Research[i].IsChecked)
                                {
                                    @Html.RadioButtonFor(x => x.SelectedResearchID, Model.Research[i].ID, new { id = "research" + research.ID, @checked = "checked" })
                                }
                                else
                                {
                                    @Html.RadioButtonFor(x => x.SelectedResearchID, Model.Research[i].ID, new { id = "research" + research.ID })
                                }
                            </li>
                        }
                    </ul>
                </div>
            </div>

            <input class="btn btn-default editButton" type="submit" value="Edit Research" />
        </div>
    }
</div>