@using Fotiv_Automator.Areas.GamePortal;
@model Fotiv_Automator.Areas.GamePortal.ViewModels.IndexRnDResearch
@{
    ViewBag.Title = string.Format("R&DResearch for {0}", Model.CivilizationName);
}

<h1>R&D Research for @Model.CivilizationName</h1>

<div class="row">
    <h2>
        Research
        @if (GameState.Game.GetCivilization(Model.CivilizationID).Assets.HasResearchSlots &&
            (Fotiv_Automator.Infrastructure.Attributes.RequireGMAdminAttribute.IsGMOrAdmin() || Model.PlayerOwnsCivilization))
        {
            <a href="@Url.RouteUrl("NewRnDResearch", new { civilizationID = Model.CivilizationID })" class="btn btn-default pull-right">
                New Research Item
            </a>
        }
    </h2>
    <table class="table table-striped sortable">
        <thead>
            <tr>
                <th>RP Cost</th>
                <th>Name</th>
                <th>Build Percentage</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var research in Model.Research)
            {
                <tr>
                    <td>@research.ResearchInfo.rp_cost</td>
                    <td>
                        <a href="@Url.RouteUrl("ViewRnDResearch", new { rndResearchID = research.CivilizationInfo.id })">
                            @research.ResearchInfo.name
                        </a>
                    </td>
                    <td>@research.CivilizationInfo.build_percentage</td>
                </tr>
            }
        </tbody>
    </table>

</div>


