@model Fotiv_Automator.Areas.GamePortal.ViewModels.ViewRnDResearch
@{
    ViewBag.Title = Model.Research.ResearchInfo.name;
}

<div class="row">
    <h1>
        @Model.Research.ResearchInfo.name

        @if (Fotiv_Automator.Infrastructure.Attributes.RequireGMAdminAttribute.IsGMOrAdmin())
        {
            <a href="@Url.RouteUrl("EditRnDResearch", new { rndResearchID = Model.Research.CivilizationInfo.id })" class="btn btn-default pull-right">
                Edit Research
            </a>
        }
    </h1>

    <p>@Model.Research.ResearchInfo.description</p>

    <h2>Progress</h2>
    <table class="table table-striped sortable">
        <thead>
            <tr>
                <th>RP Cost</th>
                <th>Name</th>
                <th>Build Percentage</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.Research.ResearchInfo.rp_cost</td>
                <td>
                    @Model.Research.ResearchInfo.name
                </td>
                <td>@Model.Research.CivilizationInfo.build_percentage</td>
            </tr>
        </tbody>
    </table>

    <h2>Overview</h2>
    <table class="table table-striped sortable">
        <thead>
            <tr>
                <th data-defaultsort="asc">ID</th>
                <th>Name</th>
                <th>RP Cost</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <a href="@Url.RouteUrl("ViewResearch", new { researchID = Model.Research.ResearchInfo.id })">
                        @Model.Research.ResearchInfo.id
                    </a>
                </td>
                <td>
                    <a href="@Url.RouteUrl("ViewResearch", new { researchID = Model.Research.ResearchInfo.id })">
                        @Model.Research.ResearchInfo.name
                    </a>
                </td>
                <td>@Model.Research.ResearchInfo.rp_cost</td>
            </tr>
        </tbody>
    </table>

    <h2>Bonuses</h2>
    <table class="table table-striped sortable">
        <thead>
            <tr>
                <th data-defaultsort="asc">Attack Bonus</th>
                <th>Health Bonus</th>

                <th>Science Bonus</th>
                <th>Colonial Development Bonus</th>
                <th>Ship Construction Bonus</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.Research.ResearchInfo.attack_bonus</td>
                <td>@Model.Research.ResearchInfo.health_bonus</td>

                <td>@Model.Research.ResearchInfo.science_bonus</td>
                <td>@Model.Research.ResearchInfo.colonial_development_bonus</td>
                <td>@Model.Research.ResearchInfo.ship_construction_bonus</td>
            </tr>
        </tbody>
    </table>

    @if (Fotiv_Automator.Infrastructure.Attributes.RequireGMAdminAttribute.IsGMOrAdmin() ||
        Model.PlayerOwnsCivilization)
    {
        <div class="hidden" id="anti-forgery-container">
            @Html.AntiForgeryToken()
        </div>

        <a href="@Url.Action("Delete", new { rndResearchID = Model.Research.CivilizationInfo.id })"
           class="btn btn-danger"
           data-delete="THIS ACTION IS FINAL. All progress towards this will be lost. Are you sure you want to delete this?">
            <i class="glyphicon glyphicon-remove"></i> Delete
        </a>
    }
</div>