@model Fotiv_Automator.ViewModels.GameCivilizations
@{
    ViewBag.Title = string.Format("Game Civilizations");
}


@section MainNavbarCenter {
    <li><a href="@Url.RouteUrl("Game", new { id = Model.GameID })">Overview</a></li>
    <li><a href="@Url.RouteUrl("ListCivilizations", new { id = Model.GameID })">Civilizations</a></li>
}

@section MainNavbarRight {
    @if (Model.User.GameUserInfo.is_gm)
    {
        <li><a href="@Url.RouteUrl("GameSettings", new { id = Model.GameID })">Game Master Settings</a></li>
    }
}

<h1>List of Civilizations</h1>

<div class="row">
    <div class="col-md-6">
        <h2>Your Civilizations</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var civilization in Model.Civilizations)
                {
                    foreach (var owner in civilization.Owners)
                    {
                        if (owner.User.ID == Model.User.User.ID)
                        {
                            <tr>
                                <td>
                                    <a href="@Url.RouteUrl("ViewCivilization", new { id = civilization.Info.id })">
                                        @civilization.Info.name
                                    </a>
                                </td>
                            </tr>

                            break;
                        }
                    }
                }
            </tbody>
        </table>
    </div>

    @if (Model.User.GameUserInfo.is_gm)
    {
        <div class="col-md-6">
            <h2>All Civilizations</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var civilization in Model.Civilizations)
                    {
                        <tr>
                            <td>
                                <a href="@Url.RouteUrl("ViewCivilization", new { id = civilization.Info.id })">
                                    @civilization.Info.name
                                </a>
                            </td>
                            <td>
                                <a href="@Url.RouteUrl("EditCivilization", new { id = civilization.Info.id })" class="btn btn-default pull-right">
                                    Edit Civilization
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <a href="@Url.RouteUrl("NewCivilization")" class="btn btn-default pull-left">
                New Civilization
            </a>
        </div>
    }
    </div>
</div>


