@model Fotiv_Automator.Areas.GamePortal.ViewModels.Forms.StarForm
@{
    ViewBag.Title = string.Format("New Star");
}

<div class="row">
    @using (Html.BeginForm())
    {

        <div class="hidden" id="anti-forgery-container">
            @Html.AntiForgeryToken()
        </div>

        <div class="col-md-6">
            @Html.ValidationSummary()

            <div>
                @Html.LabelFor(x => x.StarsystemID)
                @Html.DisplayTextFor(x => x.StarsystemID)
                @Html.HiddenFor(x => x.StarsystemID)
            </div>

            <div>
                @Html.LabelFor(x => x.Name)
                @Html.EditorFor(x => x.Name)
            </div>

            <div>
                @Html.LabelFor(x => x.Age)
                @Html.EditorFor(x => x.Age)
            </div>

            <div>
                @Html.LabelFor(x => x.RadiationLevel)
                @Html.EditorFor(x => x.RadiationLevel)
            </div>

            <div>
                @Html.LabelFor(x => x.GMNotes)
                @Html.TextAreaFor(x => x.GMNotes)
            </div>

            <input class="btn btn-default newButton" type="submit" value="Create Star" />
        </div>
    }
</div>