@using Fotiv_Automator.Areas.GamePortal.ViewModels;
@model Fotiv_Automator.Areas.GamePortal.ViewModels.ViewStar
@{
    ViewBag.Title = Model.Star.Info.name;
}

<div class="row">
    <h3>
        <a href="@Url.RouteUrl("ViewStarsystem", new { gameID = Model.User.GameUserInfo.game_id, starsystemID = Model.Star.SolarSystem.ID })">
            System Hex: @Model.Star.SolarSystem.HexCode.X, @Model.Star.SolarSystem.HexCode.Y
        </a>
    </h3>

    <hr />

    <h1>
        @Model.Star.Info.name

        @if (Model.User.GameUserInfo.is_gm || User.IsInRole("Admin"))
        {
            <a href="@Url.RouteUrl("EditStar", new { gameID = Model.User.GameUserInfo.game_id, starID = Model.Star.ID })" class="btn btn-default pull-right">
                Edit Star
            </a>
        }
    </h1>

    @if ((Model.User.GameUserInfo.is_gm || User.IsInRole("Admin")) && !string.IsNullOrWhiteSpace(Model.Star.Info.gmnotes))
    {
        <h2>GM Notes</h2>
        <p>@Model.Star.Info.gmnotes</p>
    }


    <hr />
    <h2>
        @Model.Star.ID @Model.Star.Info.name - @Model.Star.StarAgeInfo.name @Model.Star.StarTypeInfo.name with @Model.Star.RadiationLevelInfo.name
    </h2>
    <p>Total Resources: @Model.Star.TotalResources</p>

    @Html.Partial("~/Areas/GamePortal/Views/StarMap/_Planets.cshtml", new IndexPlanets { User = Model.User, Planets = Model.Star.Planets })

    @if (Model.User.GameUserInfo.is_gm || User.IsInRole("Admin"))
            {
        <a href="@Url.RouteUrl("NewPlanet", new { gameID = Model.User.GameUserInfo.game_id, starID = Model.Star.ID })" class="btn btn-default pull-right">
            New Planet
        </a>
    }
</div>