@using Fotiv_Automator.Areas.GamePortal.ViewModels;
@model Fotiv_Automator.Areas.GamePortal.ViewModels.ViewStar
@{
    ViewBag.Title = Model.Star.Info.name;
}

<div class="row">
    <h1>
        @Model.Star.Info.name

        @if (Model.User.GameUserInfo.is_gm || User.IsInRole("Admin"))
        {
            <a href="@Url.RouteUrl("EditStar", new { starID = Model.Star.ID })" class="btn btn-default pull-right">
                Edit Star
            </a>
        }
    </h1>

    @if ((Model.User.GameUserInfo.is_gm || User.IsInRole("Admin")) && !string.IsNullOrWhiteSpace(Model.Star.Info.gmnotes))
    {
        <h2>GM Notes</h2>
        <p>@Model.Star.Info.gmnotes</p>
    }

    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">
                @Model.Star.ID @Model.Star.Info.name - @Model.Star.StarAgeInfo.name @Model.Star.StarTypeInfo.name with @Model.Star.RadiationLevelInfo.name
            </h3>
        </div>
        <div class="panel-body">
            <p>Total Resources: @Model.Star.TotalResources</p>

            <hr />

            @Html.Partial("~/Areas/GamePortal/Views/StarMap/_Planets.cshtml", new IndexPlanets { User = Model.User, Planets = Model.Star.Planets })

            <a href="@Url.RouteUrl("NewPlanet", new { starID = Model.Star.ID })" class="btn btn-default pull-right">
                New Planet
            </a>
        </div>
    </div>
</div>