@model Fotiv_Automator.Areas.GamePortal.ViewModels.Forms.ExperienceLevelForm
@{
    ViewBag.Title = string.Format("Edit Experience Level");
}

<div class="row">
    @using (Html.BeginForm())
    {

        <div class="hidden" id="anti-forgery-container">
            @Html.AntiForgeryToken()
        </div>

        <div class="col-md-6">
            @Html.ValidationSummary()

            <div>
                @Html.LabelFor(x => x.ID)
                @Html.DisplayTextFor(x => x.ID)
                @Html.HiddenFor(x => x.ID)
            </div>

            <div>
                @Html.LabelFor(x => x.Name)
                @Html.EditorFor(x => x.Name)
            </div>

            <div>
                @Html.LabelFor(x => x.HealthBonus)
                @Html.EditorFor(x => x.HealthBonus)
            </div>

            <div>
                @Html.LabelFor(x => x.RegenerationBonus)
                @Html.EditorFor(x => x.RegenerationBonus)
            </div>

            <div>
                @Html.LabelFor(x => x.AttackBonus)
                @Html.EditorFor(x => x.AttackBonus)
            </div>

            <div>
                @Html.LabelFor(x => x.SpecialAttackBonus)
                @Html.EditorFor(x => x.SpecialAttackBonus)
            </div>

            <div>
                @Html.LabelFor(x => x.AgilityBonus)
                @Html.EditorFor(x => x.AgilityBonus)
            </div>
        </div>
        <div class="col-md-6">
            <input class="btn btn-default editButton" type="submit" value="Edit Experience Level" />

            <a href="@Url.Action("Delete", "ExperienceLevel", new { experienceLevelID = Model.ID })"
               class="btn btn-danger"
               data-delete="THIS ACTION IS FINAL. Are you sure you want to delete this?">
                <i class="glyphicon glyphicon-remove"></i> Delete
            </a>
        </div>
    }
</div>