@using Fotiv_Automator.Areas.GamePortal.ViewModels;
@model Fotiv_Automator.Areas.GamePortal.ViewModels.IndexPlanets

<table class="table table-striped">
    <thead>
        <tr>
            <th>@(Model.SatelliteMode ? "" : "ID")</th>
            <th>@(Model.SatelliteMode ? "" : "Name")</th>
            <th>@(Model.SatelliteMode ? "" : "Resources")</th>
            <th>@(Model.SatelliteMode ? "" : "Type")</th>
            <th>@(Model.SatelliteMode ? "" : "Tier")</th>
            <th>@(Model.SatelliteMode ? "" : "Stage of Life")</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var planet in Model.Planets)
        {
            if (planet.Info.orbiting_planet_id == null || Model.SatelliteMode)
            {
                <tr>
                    <td>@planet.PlanetID</td>
                    <td>
                        <a href="@Url.RouteUrl("ViewPlanet", new { planetID = planet.PlanetID })">
                            @planet.Info.name
                        </a>
                    </td>
                    <td>@(planet.Info.resources)RP</td>
                    <td>
                        <a href="@Url.RouteUrl("ViewPlanetType", new { planetTypeID = planet.TypeInfo.id })">
                            @planet.TypeInfo.name
                        </a>
                    </td>
                    <td>
                        <a href="@Url.RouteUrl("ViewPlanetTier", new { planetTierID = planet.TierInfo.id })">
                            @planet.TierInfo.name
                        </a>
                    </td>
                    <td>
                        <a href="@Url.RouteUrl("ViewStageOfLife", new { stageOfLifeID = planet.StageOfLifeInfo.id })">
                            @planet.StageOfLifeInfo.name
                        </a>
                    </td>
                </tr>

                if (planet.HasSatellites)
                {
                    <tr>
                        <td></td>
                        <td colspan="5">
                            @Html.Partial("~/Areas/GamePortal/Views/StarMap/_Planets.cshtml", new IndexPlanets { User = Model.User, Planets = planet.Satellites, SatelliteMode = true })
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>