@using Fotiv_Automator.Areas.GamePortal.ViewModels;
@model Fotiv_Automator.Areas.GamePortal.ViewModels.ViewStarSystem

<div id="starSystemInfo">
    @if (Model.System != null)
    {
        <h1>
            @if (Model.HeaderHotLink)
            {
                <a href="@Url.RouteUrl("ViewStarsystem", new { gameID = Model.User.GameUserInfo.game_id, starsystemID = Model.System.ID })">
                    Hex: @Model.System.HexCode.X, @Model.System.HexCode.Y
                </a>
            }
            else
            {
                @:Hex: @Model.System.HexCode.X, @Model.System.HexCode.Y
            }

            @if (Model.User.GameUserInfo.is_gm || User.IsInRole("Admin"))
            {
                <a href="@Url.RouteUrl("EditStarsystem", new { gameID = Model.User.GameUserInfo.game_id, starsystemID = Model.System.ID })" class="btn btn-default pull-right">
                    Edit System
                </a>
            }
        </h1>
        <h2>Total Resources: @Model.System.TotalResources</h2>
        <p>ID: @Model.System.ID</p>

        if ((Model.User.GameUserInfo.is_gm || User.IsInRole("Admin")) && !string.IsNullOrWhiteSpace(Model.System.Info.gmnotes))
        {
            <h2>GM Notes</h2>
            <p>@Model.System.Info.gmnotes</p>
        }

        <hr />

        <h2>
            Wormholes

            @if (Model.User.GameUserInfo.is_gm || User.IsInRole("Admin"))
            {
                <a href="@Url.RouteUrl("NewWormhole", new { gameID = Model.User.GameUserInfo.game_id, starsystemID = Model.System.ID })" class="btn btn-default pull-right">
                    New Wormhole
                </a>
            }
        </h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Wormhole ID</th>
                    <th>Travels to Starsystem</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var wormhole in Model.System.Wormholes)
                {
                    <tr>
                        <td>
                            <a href="@Url.RouteUrl("ViewWormhole", new { gameID = Model.User.GameUserInfo.game_id, wormholeID = wormhole.ID })">
                                @wormhole.ID
                            </a>
                        </td>
                        <td>
                            @if (wormhole.SystemOne.ID == Model.System.ID)
                            {
                                <a href="@Url.RouteUrl("ViewStarsystem", new { gameID = Model.User.GameUserInfo.game_id, starsystemID = wormhole.SystemTwo.ID })">
                                    Hex: @wormhole.SystemTwo.HexCode.X, @wormhole.SystemTwo.HexCode.Y
                                </a>
                            }
                            else
                            {

                                <a href="@Url.RouteUrl("ViewStarsystem", new { gameID = Model.User.GameUserInfo.game_id, starsystemID = wormhole.SystemOne.ID })">
                                    Hex: @wormhole.SystemOne.HexCode.X, @wormhole.SystemOne.HexCode.Y
                                </a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <hr />

        <h2>
            Stars
            @if (Model.User.GameUserInfo.is_gm || User.IsInRole("Admin"))
            {
                <a href="@Url.RouteUrl("NewStar", new { gameID = Model.User.GameUserInfo.game_id, starsystemID = Model.System.ID })" class="btn btn-default pull-right">
                    New Star
                </a>
            }
        </h2>
        foreach (var star in Model.System.Stars)
        {
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <a href="@Url.RouteUrl("ViewStar", new { gameID = Model.User.GameUserInfo.game_id, starID = star.ID })">
                            @star.ID @star.Info.name - @star.StarAgeInfo.name @star.StarTypeInfo.name with @star.RadiationLevelInfo.name
                        </a>

                        <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-down"></i></span>
                    </h3>
                </div>
                <div class="panel-body">
                    <p>Total Resources: @star.TotalResources</p>

                    @if ((Model.User.GameUserInfo.is_gm || User.IsInRole("Admin")) && !string.IsNullOrWhiteSpace(star.Info.gmnotes))
                    {
                        <h2>GM Notes</h2>
                        <p>@star.Info.gmnotes</p>
                    }

                    <hr />

                    @Html.Partial("~/Areas/GamePortal/Views/StarMap/_Planets.cshtml", new IndexPlanets { User = Model.User, Planets = star.Planets })

                    @if (Model.User.GameUserInfo.is_gm || User.IsInRole("Admin"))
                    {
                        <a href="@Url.RouteUrl("NewPlanet", new { gameID = Model.User.GameUserInfo.game_id, starID = star.ID })" class="btn btn-default pull-right">
                            New Planet
                        </a>
                    }
                </div>
            </div>
        }

        <hr />

        var influenceLevels = Model.System.Sector.CalculateInflueceForSystem(Model.System.HexCode);
        if (influenceLevels.Count > 0)
        {
            <h2>Influence</h2>
            <table class="table table-striped sortable">
                <thead>
                    <tr>
                        <th>Civilization</th>
                        <th>Influence</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var level in influenceLevels)
                    {
                        <tr>
                            <td>
                                <a href="@Url.RouteUrl("ViewCivilization", new { gameID = Model.User.GameUserInfo.game_id, civilizationID = level.Civilization.Info.id })">
                                    @level.Civilization.Info.name
                                </a>
                            </td>
                            <td>@level.Influence</td>
                        </tr>
                    }
                </tbody>
            </table>
        }



        <h2>BBCode</h2>
        <pre>@Model.System.ToBBCode()</pre>
    }
</div>