@using Fotiv_Automator.Areas.GamePortal.ViewModels;
@model Fotiv_Automator.Areas.GamePortal.ViewModels.ViewStarSystem

<div id="starSystemInfo">
    @if (Model.System != null)
    {
        <h1>
            <a href="@Url.RouteUrl("ViewStarsystem", new { starsystemID = Model.System.ID })">
                Hex: @Model.System.HexCode.X, @Model.System.HexCode.Y
            </a>

            @if (Model.User.GameUserInfo.is_gm || User.IsInRole("Admin"))
            {
                <a href="@Url.RouteUrl("EditStarsystem", new { starsystemID = Model.System.ID })" class="btn btn-default pull-right">
                    Edit System
                </a>
            }
        </h1>

        <h2>Total Resources: @Model.System.TotalResources</h2>
        <p>ID: @Model.System.ID</p>

        if ((Model.User.GameUserInfo.is_gm || User.IsInRole("Admin")) && !string.IsNullOrWhiteSpace(Model.System.Info.gmnotes))
        {
            <h2>GM Notes</h2>
            <p>@Model.System.Info.gmnotes</p>
        }

        <hr />

        foreach (var star in Model.System.Stars)
        {
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <a href="@Url.RouteUrl("ViewStar", new { starID = star.ID })">
                            @star.ID: @star.Info.age @star.Info.name with @star.Info.radiation_level
                        </a>

                        <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-down"></i></span>
                    </h3>
                </div>
                <div class="panel-body">
                    <p>Total Resources: @star.TotalResources</p>

                    @if ((Model.User.GameUserInfo.is_gm || User.IsInRole("Admin")) && !string.IsNullOrWhiteSpace(star.Info.gmnotes))
                    {
                        <h2>GM Notes</h2>
                        <p>@star.Info.gmnotes</p>
                    }

                    <hr />

                    @Html.Partial("_Planets", new IndexPlanets { User = Model.User, Planets = star.Planets });
                </div>
            </div>
        }
    }
</div>