@using Fotiv_Automator.Areas.GamePortal;
@using Fotiv_Automator.Areas.GamePortal.Models.Game;
@using Fotiv_Automator.Areas.GamePortal.ViewModels;
@model Fotiv_Automator.Areas.GamePortal.ViewModels.ViewStarSystem

<div id="starSystemInfo">
    @if (Model.System != null)
    {
        <h1>Hex: @Model.System.HexCode.X, @Model.System.HexCode.Y</h1>
        <h2>Total Resources: @Model.System.TotalResources</h2>
        <p>Total Stars @Model.System.Stars.Count</p>

        <hr />

        foreach (var star in Model.System.Stars)
        {
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        @star.Info.age @star.Info.name with @star.Info.radiation_level

                        <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-down"></i></span>
                    </h3>
                </div>
                <div class="panel-body">
                    <p>Total Resources: @star.TotalResources</p>

                    <hr />

                    @Html.Partial("_Planets", new ViewPlanets { User = Model.User, Planets = star.Planets });
                </div>
            </div>
        }
    }
</div>