@model Fotiv_Automator.Areas.GamePortal.ViewModels.Forms.SectorForm
@{
    ViewBag.Title = string.Format("New Sector");
}

<div class="row">
    @using (Html.BeginForm())
    {

        <div class="hidden" id="anti-forgery-container">
            @Html.AntiForgeryToken()
        </div>

        <div class="col-md-6">
            @Html.ValidationSummary()

            <div>
                @Html.LabelFor(x => x.Name)
                @Html.EditorFor(x => x.Name)
            </div>

            <div>
                @Html.LabelFor(x => x.Description)
                @Html.TextAreaFor(x => x.Description)
            </div>

            <div>
                @Html.LabelFor(x => x.Width)
                @Html.EditorFor(x => x.Width)
            </div>

            <div>
                @Html.LabelFor(x => x.Height)
                @Html.EditorFor(x => x.Height)
            </div>

            <div>
                @Html.LabelFor(x => x.GMNotes)
                @Html.TextAreaFor(x => x.GMNotes)
            </div>

            <input class="btn btn-default newButton" type="submit" value="Create Sector Map" />
        </div>
    }
</div>