@model Fotiv_Automator.Areas.GamePortal.ViewModels.Forms.SectorForm
@{
    ViewBag.Title = string.Format("New Sector");
}

<div class="row">
    @using (Html.BeginForm("NewSector", "StarMap", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="hidden" id="anti-forgery-container">
            @Html.AntiForgeryToken()
        </div>

        <div class="col-md-6">
            @Html.ValidationSummary()

            <div>
                @Html.LabelFor(x => x.Name)
                @Html.EditorFor(x => x.Name)
            </div>

            <div>
                @Html.LabelFor(x => x.Description)
                @Html.TextAreaFor(x => x.Description)
            </div>

            <div>
                @Html.LabelFor(x => x.GMNotes)
                @Html.TextAreaFor(x => x.GMNotes)
            </div>

            <div class="row">
                <div class="col-md-6">
                    <h2>Generate</h2>
                    <div>
                        @Html.LabelFor(x => x.Width)
                        @Html.EditorFor(x => x.Width)
                    </div>

                    <div>
                        @Html.LabelFor(x => x.Height)
                        @Html.EditorFor(x => x.Height)
                    </div>
                </div>
                <div class="col-md-6">
                    <h2>Or, Upload File</h2>
                    <div>
                        @Html.TextBoxFor(x => x.FileUpload, new { type = "file" })
                    </div>
                </div>
            </div>         

            <input class="btn btn-default newButton" type="submit" value="Create Sector Map" />
        </div>
    }
</div>