@using Fotiv_Automator.Areas.GamePortal; 
@using Fotiv_Automator.Areas.GamePortal.Models.Game;
@model Fotiv_Automator.Areas.GamePortal.ViewModels.ViewStarMap
@{
    ViewBag.Title = "Star Map";
}

<div class="row">
    <h1>
        @Model.Sector.Info.name - Star Map

        @if ((Model.User.GameUserInfo.is_gm) || User.IsInRole("Admin"))
        {
            <a href="@Url.RouteUrl("EditStarMap", new { gameID = Model.User.GameUserInfo.game_id, sectorID = Model.Sector.Info.id })" class="btn btn-default pull-right">
                Edit Star Map
            </a>
        }
    </h1>
    <p>@Model.Sector.Info.description</p>

    @if (Model.User.GameUserInfo.is_gm && !string.IsNullOrWhiteSpace(Model.Sector.Info.gmnotes))
    {
        <h2>GM Notes</h2>
        <p>@Model.Sector.Info.gmnotes</p>
    }

    <div class="row">
        <div class="row">
            <div class="canvasContainer">
                <canvas id="HexCanvas" width="@(Model.Sector.Width * Model.Sector.HexSize - 150)" height="@((Model.Sector.Height * (Math.Sqrt(3) * Model.Sector.HexRadius)) + (@Model.Sector.HexSize * 1.2))"></canvas>
            </div>
        </div>
        <div class="row">
            <div id="loadHexDetails">
                <div id="loadingGif">
                    <h2>
                        <img src="@Url.Content("~/Content/Images/loading.gif")" />
                        Loading ...
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>

@section GameScripts {
    <script>
        $(document).ready(function() {
            $("#loadingGif").hide();

            var hexagonGrid = new HexagonGrid("HexCanvas", @Model.Sector.HexRadius);
            hexagonGrid.setCallback(function (hex_X, hex_Y) {
                $("#loadingGif").show();

                $("#loadHexDetails").load("@Url.Action("StarSystemDetails", "StarMap")", { gameID: "@Model.User.GameUserInfo.game_id", hexX: hex_X, hexY: hex_Y }, function() {
                    $('html,body').animate({
                        scrollTop: $("#loadHexDetails").offset().top - 60},
                        'slow');

                    $("#loadingGif").hide();
                });
            });

            hexagonGrid.drawHexGrid(@Model.Sector.Width, @Model.Sector.Height, 5, 5, true);

            @{
                var game = GameState.Game;

                if (Model.User.IsGM || User.IsInRole("Admin"))
                {
                    foreach (var system in Model.Sector.StarSystemsRaw)
                    {
                        foreach (var star in system.Stars)
                        {
                            foreach (var planet in star.Planets)
                            {
                                foreach (var infrastructure in planet.Infrastructure)
                                {
                                    @:hexagonGrid.drawHexAtColRow(@system.HexCode.X, @system.HexCode.Y, "@infrastructure.Owner.Info.colour", true);
                                }
                            }
                        }
                    }
                }
                else
                {
                    foreach (var civilization in Model.VisibleCivilizations)
                    {
                        foreach (var infrastructure in civilization.Assets.CompletedInfrastructure)
                        {
                            @:hexagonGrid.drawHexAtColRow(@infrastructure.Planet.Star.SolarSystem.HexCode.X, @infrastructure.Planet.Star.SolarSystem.HexCode.Y, "@infrastructure.Owner.Info.colour", true);
                                    }
                    }
                }
            }
        });
    </script>
}