@using Fotiv_Automator.Areas.GamePortal
@model Fotiv_Automator.Areas.GamePortal.ViewModels.Forms.InfrastructureForm
@{
    ViewBag.Title = string.Format("Edit Infrastructure");
}

<div class="row">
    @using (Html.BeginForm())
    {

        <div class="hidden" id="anti-forgery-container">
            @Html.AntiForgeryToken()
        </div>

        <div class="col-md-6">
            @Html.ValidationSummary()

            <div>
                @Html.LabelFor(x => x.ID)
                @Html.DisplayTextFor(x => x.ID)
                @Html.HiddenFor(x => x.ID)
            </div>

            <div>
                @Html.LabelFor(x => x.Name)
                @Html.EditorFor(x => x.Name)
            </div>

            <div>
                @Html.LabelFor(x => x.Description)
                @Html.TextAreaFor(x => x.Description)
            </div>

            <div>
                @Html.LabelFor(x => x.RPCost)
                @Html.EditorFor(x => x.RPCost)
            </div>

            <div>
                @Html.LabelFor(x => x.IsColony)
                @Html.CheckBoxFor(x => x.IsColony)
            </div>

            <div>
                @Html.LabelFor(x => x.IsMilitary)
                @Html.CheckBoxFor(x => x.IsMilitary)
            </div>

            <div>
                @Html.LabelFor(x => x.BaseHealth)
                @Html.EditorFor(x => x.BaseHealth)
            </div>
            <div>
                @Html.LabelFor(x => x.BaseRegeneration)
                @Html.EditorFor(x => x.BaseRegeneration)
            </div>

            <div>
                @Html.LabelFor(x => x.BaseAttack)
                @Html.EditorFor(x => x.BaseAttack)
            </div>
            <div>
                @Html.LabelFor(x => x.BaseSpecialAttack)
                @Html.EditorFor(x => x.BaseSpecialAttack)
            </div>
            <div>
                @Html.LabelFor(x => x.BaseAgility)
                @Html.EditorFor(x => x.BaseAgility)
            </div>

            <div>
                @Html.LabelFor(x => x.InfluenceBonus)
                @Html.EditorFor(x => x.InfluenceBonus)
            </div>

            <div>
                @Html.LabelFor(x => x.RPBonus)
                @Html.EditorFor(x => x.RPBonus)
            </div>

            <div>
                @Html.LabelFor(x => x.ScienceBonus)
                @Html.EditorFor(x => x.ScienceBonus)
            </div>

            <div>
                @Html.LabelFor(x => x.ShipConstructionBonus)
                @Html.EditorFor(x => x.ShipConstructionBonus)
            </div>

            <div>
                @Html.LabelFor(x => x.ColonialDevelopmentBonus)
                @Html.EditorFor(x => x.ColonialDevelopmentBonus)
            </div>

            <div>
                @Html.LabelFor(x => x.UnitTrainingBonus)
                @Html.EditorFor(x => x.UnitTrainingBonus)
            </div>

            <div>
                @Html.LabelFor(x => x.ResearchSlots)
                @Html.EditorFor(x => x.ResearchSlots)
            </div>

            <div>
                @Html.LabelFor(x => x.ShipConstructionSlots)
                @Html.EditorFor(x => x.ShipConstructionSlots)
            </div>

            <div>
                @Html.LabelFor(x => x.ColonialDevelopmentSlots)
                @Html.EditorFor(x => x.ColonialDevelopmentSlots)
            </div>

            <div>
                @Html.LabelFor(x => x.UnitTrainingSlots)
                @Html.EditorFor(x => x.UnitTrainingSlots)
            </div>

            <div>
                @Html.LabelFor(x => x.GMNotes)
                @Html.TextAreaFor(x => x.GMNotes)
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">Upgrades</div>
                <div class="panel-body infrastructureUpgradeEditor">
                    <ul class="infrastructureSelect">
                        @for (var i = 0; i < Model.PossibleUpgrades.Count; i++)
                        {
                            <li>
                                @Html.HiddenFor(x => x.PossibleUpgrades[i].ID)

                                @Html.DisplayFor(x => x.PossibleUpgrades[i].Name)
                                @Html.HiddenFor(x => x.PossibleUpgrades[i].Name)

                                @Html.CheckBoxFor(x => x.PossibleUpgrades[i].IsChecked)
                            </li>
                        }
                    </ul>
                </div>
            </div>

            <div>
                <input class="btn btn-default editButton" type="submit" value="Edit Infrastructure" />

                <a href="@Url.Action("Delete", "Infrastructure", new { gameID = GameState.Game.ID, infrastructureID = Model.ID})"
                   class="btn btn-danger"
                   data-delete="THIS ACTION IS FINAL. Are you sure you want to delete this?">
                    <i class="glyphicon glyphicon-remove"></i> Delete
                </a>
            </div>
        </div>
    }
</div>