@model Fotiv_Automator.Areas.GamePortal.ViewModels.NewUpdateCivilizationForm
@{
    ViewBag.Title = string.Format("Edit Civilization");
}

<div class="row">
    @using (Html.BeginForm())
    {

        <div class="hidden" id="anti-forgery-container">
            @Html.AntiForgeryToken()
        </div>

        <div class="col-md-6">
            @Html.ValidationSummary()

            <div>
                @Html.LabelFor(x => x.CivilizationID)
                @Html.DisplayTextFor(x => x.CivilizationID)
            </div>

            <div>
                @Html.LabelFor(x => x.Name)
                @Html.EditorFor(x => x.Name)
            </div>

            <div>
                @Html.LabelFor(x => x.Colour)
                @Html.TextBoxFor(x => x.Colour)
            </div>

            <div>
                @Html.LabelFor(x => x.RP)
                @Html.TextBoxFor(x => x.RP)
            </div>

            <div>
                @Html.LabelFor(x => x.Notes)
                @Html.TextAreaFor(x => x.Notes)
            </div>

            <div>
                @Html.LabelFor(x => x.GMNotes)
                @Html.TextAreaFor(x => x.GMNotes)
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">Owners</div>
                <div class="panel-body civilization-owner-editor">
                    <ul class="owner-select">
                        @for (var i = 0; i < Model.Players.Count; i++)
                        {
                            <li>
                                @Html.HiddenFor(x => x.Players[i].PlayerID)

                                @Html.DisplayFor(x => x.Players[i].PlayerUsername)
                                @Html.HiddenFor(x => x.Players[i].PlayerUsername)

                                @Html.CheckBoxFor(x => x.Players[i].IsChecked)
                            </li>
                        }
                    </ul>
                </div>
            </div>

            <div>
                <input class="btn btn-default editCivilizationButton" type="submit" value="Edit Civilization" />

                <a href="@Url.Action("Delete", "Infrastructure", new { infrastructureID = Model.CivilizationID})"
                   class="btn btn-danger"
                   data-delete="THIS ACTION IS FINAL. Are you sure you want to delete this Infrastructure?">
                    <i class="glyphicon glyphicon-remove"></i> Delete
                </a>
            </div>
        </div>
    }
</div>