@model Fotiv_Automator.Areas.GamePortal.ViewModels.IndexInfrastructure
@{
    ViewBag.Title = string.Format("Infrastructure");
}

<h1>List of Infrastructure</h1>

<div class="row">
    <h2>
        Infrastructure
        @if (Model.User.GameUserInfo.is_gm)
        {
            <a href="@Url.RouteUrl("NewInfrastructure", new { gameID = Model.User.GameUserInfo.game_id })" class="btn btn-default pull-right">
                New Infrastructure
            </a>
        }
    </h2>
    <table class="table table-striped sortable">
        <thead>
            <tr>
                <th data-defaultsort="asc">ID</th>

                <th>Name</th>
                <th>RP Cost</th>

                <th>Colony</th>
                <th>Military</th>

                <th>Base Health</th>
                <th>Base Attack</th>

                <th>RP Bonus</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var infrastructure in Model.Infrastructure)
            {
                <tr>
                    <td>@infrastructure.Infrastructure.id</td>
    
                    <td>
                        <a href="@Url.RouteUrl("ViewInfrastructure", new { gameID = Model.User.GameUserInfo.game_id, infrastructureID = infrastructure.Infrastructure.id })">
                            @infrastructure.Infrastructure.name
                        </a>
                    </td>
                    <td>@infrastructure.Infrastructure.rp_cost</td>
    
                    <td>@(infrastructure.Infrastructure.is_colony ? "Yes" : "No")</td>
                    <td>@(infrastructure.Infrastructure.is_military ? "Yes" : "No")</td>
    
                    <td>@infrastructure.Infrastructure.base_health</td>
                    <td>@infrastructure.Infrastructure.base_attack</td>
    
                    <td>@infrastructure.Infrastructure.rp_bonus</td>
                </tr>
            }
        </tbody>
    </table>
</div>


