@model Fotiv_Automator.Areas.GamePortal.ViewModels.Forms.InfrastructureForm
@{
    ViewBag.Title = string.Format("New Infrastructure");
}

<div class="row">
    @using (Html.BeginForm())
    {
        <div class="hidden" id="anti-forgery-container">
            @Html.AntiForgeryToken()
        </div>

        <div class="col-md-6">
            @Html.ValidationSummary()

            <div>
                @Html.LabelFor(x => x.Name)
                @Html.EditorFor(x => x.Name)
            </div>

            <div>
                @Html.LabelFor(x => x.Description)
                @Html.TextAreaFor(x => x.Description)
            </div>

            <div>
                @Html.LabelFor(x => x.RPCost)
                @Html.EditorFor(x => x.RPCost)
            </div>

            <div>
                @Html.LabelFor(x => x.IsColony)
                @Html.CheckBoxFor(x => x.IsColony)
            </div>

            <div>
                @Html.LabelFor(x => x.IsMilitary)
                @Html.CheckBoxFor(x => x.IsMilitary)
            </div>

            <div>
                @Html.LabelFor(x => x.BaseHealth)
                @Html.EditorFor(x => x.BaseHealth)
            </div>
            <div>
                @Html.LabelFor(x => x.BaseRegeneration)
                @Html.EditorFor(x => x.BaseRegeneration)
            </div>

            <div>
                @Html.LabelFor(x => x.BaseAttack)
                @Html.EditorFor(x => x.BaseAttack)
            </div>
            <div>
                @Html.LabelFor(x => x.BaseSpecialAttack)
                @Html.EditorFor(x => x.BaseSpecialAttack)
            </div>

            <div>
                @Html.LabelFor(x => x.DomesticInfluence)
                @Html.EditorFor(x => x.DomesticInfluence)
            </div>

            <div>
                @Html.LabelFor(x => x.ForeignInfluence)
                @Html.EditorFor(x => x.ForeignInfluence)
            </div>

            <div>
                @Html.LabelFor(x => x.RPBonus)
                @Html.EditorFor(x => x.RPBonus)
            </div>

            <div>
                @Html.LabelFor(x => x.ScienceBonus)
                @Html.EditorFor(x => x.ScienceBonus)
            </div>

            <div>
                @Html.LabelFor(x => x.ShipConstructionBonus)
                @Html.EditorFor(x => x.ShipConstructionBonus)
            </div>

            <div>
                @Html.LabelFor(x => x.ColonialDevelopmentBonus)
                @Html.EditorFor(x => x.ColonialDevelopmentBonus)
            </div>

            <div>
                @Html.LabelFor(x => x.UnitTrainingBonus)
                @Html.EditorFor(x => x.UnitTrainingBonus)
            </div>

            <div>
                @Html.LabelFor(x => x.ResearchSlot)
                @Html.CheckBoxFor(x => x.ResearchSlot)
            </div>

            <div>
                @Html.LabelFor(x => x.ShipConstructionSlot)
                @Html.CheckBoxFor(x => x.ShipConstructionSlot)
            </div>

            <div>
                @Html.LabelFor(x => x.ColonialDevelopmentSlot)
                @Html.EditorFor(x => x.ColonialDevelopmentSlot)
            </div>

            <div>
                @Html.LabelFor(x => x.ShipConstructionSlot)
                @Html.EditorFor(x => x.ShipConstructionSlot)
            </div>

            <div>
                @Html.LabelFor(x => x.GMNotes)
                @Html.TextAreaFor(x => x.GMNotes)
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">Upgrades</div>
                <div class="panel-body infrastructureUpgradeEditor">
                    <ul class="infrastructureSelect">
                        @for (var i = 0; i < Model.PossibleUpgrades.Count; i++)
                        {
                            <li>
                                @Html.HiddenFor(x => x.PossibleUpgrades[i].ID)

                                @Html.DisplayFor(x => x.PossibleUpgrades[i].Name)
                                @Html.HiddenFor(x => x.PossibleUpgrades[i].Name)

                                @Html.CheckBoxFor(x => x.PossibleUpgrades[i].IsChecked)
                            </li>
                        }
                    </ul>
                </div>
            </div>

            <div>
                <input class="btn btn-default newButton" type="submit" value="Create Infrastructure" />
            </div>
        </div>
    }
</div>