@model Fotiv_Automator.Areas.GamePortal.ViewModels.ViewInfrastructure
@{
    ViewBag.Title = Model.Infrastructure.Infrastructure.name;
}

<div class="row">
    <h1>
        @Model.Infrastructure.Infrastructure.name

        @if ((Model.User.GameUserInfo.is_gm && Model.Infrastructure.Infrastructure.game_id != null) || User.IsInRole("Admin"))
        {
            <a href="@Url.RouteUrl("EditInfrastructure", new { gameID = Model.User.GameUserInfo.game_id, infrastructureID = Model.Infrastructure.Infrastructure.id })" class="btn btn-default pull-right">
                Edit Infrastructure
            </a>
        }
    </h1>

    <p>@Model.Infrastructure.Infrastructure.description</p>

    <div class="col-md-6">
        <h2>Overview</h2>
        <table class="table table-striped sortable">
            <thead>
                <tr>
                    <th data-defaultsort="asc">ID</th>

                    <th>Name</th>
                    <th>RP Cost</th>

                    <th>Colony</th>
                    <th>Military</th>

                    <th>Domestic Influence</th>
                    <th>Foreign Influence</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.Infrastructure.Infrastructure.id</td>

                    <td>@Model.Infrastructure.Infrastructure.name</td>
                    <td>@Model.Infrastructure.Infrastructure.rp_cost</td>

                    <td>@(Model.Infrastructure.Infrastructure.is_colony ? "Yes" : "No")</td>
                    <td>@(Model.Infrastructure.Infrastructure.is_military ? "Yes" : "No")</td>

                    <td>@Model.Infrastructure.Infrastructure.domestic_influence_bonus</td>
                    <td>@Model.Infrastructure.Infrastructure.foreign_influence_bonus</td>
                </tr>
            </tbody>
        </table>

        <h2>Statistics</h2>
        <table class="table table-striped sortable">
            <thead>
                <tr>
                    <th data-defaultsort="asc">Base Health</th>
                    <th>Base Regeneration</th>
                    <th>Base Attack</th>
                    <th>Base Special Attack</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.Infrastructure.Infrastructure.base_health</td>
                    <td>@Model.Infrastructure.Infrastructure.base_regeneration</td>
                    <td>@Model.Infrastructure.Infrastructure.base_attack</td>
                    <td>@Model.Infrastructure.Infrastructure.base_special_attack</td>
                </tr>
            </tbody>
        </table>

        <h2>Bonuses</h2>
        <table class="table table-striped sortable">
            <thead>
                <tr>
                    <th data-defaultsort="asc">RP Bonus</th>
                    <th>Science Bonus</th>
                    <th>Ship Construction Bonus</th>
                    <th>Colonial Development Bonus</th>
                    <th>Unit Training Bonus</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.Infrastructure.Infrastructure.rp_bonus</td>
                    <td>@Model.Infrastructure.Infrastructure.science_bonus</td>
                    <td>@Model.Infrastructure.Infrastructure.ship_construction_bonus</td>
                    <td>@Model.Infrastructure.Infrastructure.colonial_development_bonus</td>
                    <td>@Model.Infrastructure.Infrastructure.unit_training_bonus</td>
                </tr>
            </tbody>
        </table>

        <h2>Additional Slots</h2>
        <table class="table table-striped sortable">
            <thead>
                <tr>
                    <th data-defaultsort="asc">Research Slot</th>
                    <th>Ship Construction Slot</th>
                    <th>Colonial Development Slot</th>
                    <th>Unit Training Slot</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@(Model.Infrastructure.Infrastructure.research_slot ? "Yes" : "No")</td>
                    <td>@(Model.Infrastructure.Infrastructure.ship_construction_slot ? "Yes" : "No")</td>
                    <td>@(Model.Infrastructure.Infrastructure.colonial_development_slot ? "Yes" : "No")</td>
                    <td>@(Model.Infrastructure.Infrastructure.unit_training_slot ? "Yes" : "No")</td>
                </tr>
            </tbody>
        </table>

        <div class="row">
            @if (Model.User.GameUserInfo.is_gm && !string.IsNullOrWhiteSpace(Model.Infrastructure.Infrastructure.gmnotes))
            {
                <h3>GM Notes</h3>
                <p>@Model.Infrastructure.Infrastructure.gmnotes</p>
            }
        </div>
    </div>

    <div class="col-md-6">
        <h2>Upgrades</h2>
        @foreach (var upgrade in Model.Infrastructure.UpgradeInfrastructure)
        {
            <p>
                <a href="@Url.RouteUrl("ViewInfrastructure", new { gameID = Model.User.GameUserInfo.game_id, infrastructureID = upgrade.id })">
                    @upgrade.name
                </a>
            </p>
        }
    </div>
</div>