@model Fotiv_Automator.Areas.GamePortal.ViewModels.ViewPlanetaryTier
@{
    ViewBag.Title = Model.PlanetaryTier.name;
}

<div class="row">
    <h1>
        @Model.PlanetaryTier.name

        @if (Model.User.GameUserInfo.is_gm && Model.PlanetaryTier.game_id != null)
        {
            <a href="@Url.RouteUrl("EditPlanetTier", new { planetTierID = Model.PlanetaryTier.id })" class="btn btn-default pull-right">
                Edit Planetary Tier
            </a>
        }
    </h1>

    <table class="table table-striped sortable">
        <thead>
            <tr>
                <th data-defaultsort="asc">ID</th>
                <th>Name</th>
                <th>Build Rate</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.PlanetaryTier.id</td>
                <td>@Model.PlanetaryTier.name</td>
                <td>@Model.PlanetaryTier.build_rate</td>
            </tr>
        </tbody>
    </table>
</div>