@model Fotiv_Automator.Areas.GamePortal.ViewModels.IndexShips
@{
    ViewBag.Title = string.Format("Ship");
}

<h1>List of Ships</h1>

<div class="row">
    <h2>
        Ships
        @if (Model.User.GameUserInfo.is_gm)
        {
            <a href="@Url.RouteUrl("NewShip")" class="btn btn-default pull-right">
                New Ship
            </a>
        }
    </h2>
    <table class="table table-striped sortable">
        <thead>
            <tr>
                <th data-defaultsort="asc">ID</th>

                <th>Name</th>
                <th>RP Cost</th>

                <th>Ship Rate</th>
                <th>Build Rate</th>
                <th># Build</th>

                <th>Base Health</th>
                <th>Base Attack</th>
                <th>Maximum Fighters</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ship in Model.Ships)
            {
                <tr>
                    <td>@ship.Info.id</td>

                    <td>
                        <a href="@Url.RouteUrl("ViewShip", new { shipID = ship.Info.id })">
                            @ship.Info.name
                        </a>
                    </td>
                    <td>@ship.Info.rp_cost</td>

                    <td>
                        <a href="@Url.RouteUrl("ViewShipRate", new { shipRateID = ship.ShipRate.id })">
                            @ship.ShipRate.name
                        </a>
                    </td>
                    <td>@ship.ShipRate.build_rate</td>
                    <td>@ship.Info.num_build</td>

                    <td>@ship.Info.base_health</td>
                    <td>@ship.Info.base_attack</td>
                    <td>@ship.Info.maximum_fighters</td>
                </tr>
            }
        </tbody>
    </table>
</div>


