@model Fotiv_Automator.Areas.GamePortal.ViewModels.ViewShip
@{
    ViewBag.Title = Model.Ship.Info.name;
}

<div class="row">
    <h1>
        @Model.Ship.Info.name

        @if ((Model.User.GameUserInfo.is_gm && Model.Ship.Info.game_id != null) || User.IsInRole("Admin"))
        {
            <a href="@Url.RouteUrl("EditShip", new { shipID = Model.Ship.Info.id })" class="btn btn-default pull-right">
                Edit Ship
            </a>
        }
    </h1>

    <table class="table table-striped sortable">
        <thead>
            <tr>
                <th data-defaultsort="asc">ID</th>

                <th>Name</th>
                <th>Description</th>

                <th>Ship Rate</th>
                <th>Build Rate</th>

                <th>RP Cost</th>
                <th># Build</th>

                <th>Base Health</th>
                <th>Base Attack</th>
                <th>Maximum Fighters</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.Ship.Info.id</td>

                <td>@Model.Ship.Info.name</td>
                <td>@Model.Ship.Info.description</td>

                <td>@Model.Ship.ShipRate.ToString()</td>
                <td>@Model.Ship.ShipRate.build_rate</td>

                <td>@Model.Ship.Info.rp_cost</td>
                <td>@Model.Ship.Info.num_build</td>

                <td>@Model.Ship.Info.base_health</td>
                <td>@Model.Ship.Info.base_attack</td>
                <td>@Model.Ship.Info.maximum_fighters</td>
            </tr>
        </tbody>
    </table>

    <div class="row">
        @if (Model.User.GameUserInfo.is_gm)
        {
            <h3>GM Notes</h3>
            <p>@Model.Ship.Info.gmnotes</p>
        }
    </div>
</div>