@model Fotiv_Automator.Areas.GamePortal.ViewModels.IndexTechLevels
@{
    ViewBag.Title = "Tech Levels";
}

<h1>List of Tech Levels</h1>

<div class="row">
    <h2>
        Tech Levels
        @if (Model.User.GameUserInfo.is_gm)
        {
            <a href="@Url.RouteUrl("NewTechLevel", new { gameID = Model.User.GameUserInfo.game_id })" class="btn btn-default pull-right">
                New Tech Level
            </a>
        }
    </h2>
    <table class="table table-striped sortable">
        <thead>
            <tr>
                <th data-defaultsort="asc">ID</th>
                <th>Name</th>
                <th>Attack Detriment</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var techLevel in Model.TechLevels)
            {
                <tr>
                    <td>@techLevel.id</td>
                    <td>
                        <a href="@Url.RouteUrl("ViewTechLevel", new { gameID = Model.User.GameUserInfo.game_id, techLevelID = techLevel.id })">
                            @techLevel.name
                        </a>
                    </td>
                    <td>@techLevel.attack_detriment</td>
                </tr>
            }
        </tbody>
    </table>
</div>