@model Fotiv_Automator.ViewModels.HomeIndex
@{
    ViewBag.Title = "Home";
}

@section MainNavbarCenter {
    <li><a href="@Url.RouteUrl("Games")">Game Browser</a></li>
}

<h1>Home</h1>
<p>Welcome back, @Model.User.username</p>

<div class="row">
    <h2>
        My Games

        <a href="@Url.RouteUrl("NewGame")" class="btn btn-default pull-right">
            New Game
        </a>
    </h2>

    <table class="table table-striped sortable">
        <thead>
            <tr>
                <th data-defaultsort="asc">ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Privacy</th>
                <th>GM</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var game in Model.Games)
            {
                <tr>
                    <td>@game.Item1.id</td>
                    <td><a href="@Url.RouteUrl("Game", new { gameID = game.Item1.id })">@game.Item1.name</a></td>
                    <td>@game.Item1.description</td>
                    <td>@(game.Item1.opened_to_public ? "Public" : "Private")</td>
                    <td>@(game.Item2.is_gm ? "Yes" : "No")</td>
                </tr>
            }
        </tbody>
    </table>
</div>