@model Fotiv_Automator.Areas.GamePortal.ViewModels.IndexStatistics
@{
    ViewBag.Title = string.Format("Statistics");
}

<div class="row">
    <h2>
        <a href="@Url.RouteUrl("CivilizationTraits")">Civilization Traits</a>
        @if (Model.User.GameUserInfo.is_gm)
        {
            <a href="@Url.RouteUrl("NewCivilizationTrait")" class="btn btn-default pull-right">
                New Civilization Trait
            </a>
        }
    </h2>
    <table class="table table-striped sortable">
        <thead>
            <tr>
                <th data-defaultsort="asc">ID</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var trait in Model.Statistics.CivilizationTraits)
            {
                <tr>
                    <td>@trait.id</td>
                    <td>
                        <a href="@Url.RouteUrl("ViewCivilizationTrait", new { civilizationTraitID = trait.id })">
                            @trait.name
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <h2>
        <a href="@Url.RouteUrl("Infrastructure")">Infrastructure</a>
        @if (Model.User.GameUserInfo.is_gm)
        {
            <a href="@Url.RouteUrl("NewInfrastructure")" class="btn btn-default pull-right">
                New Infrastructure
            </a>
        }
    </h2>
    <table class="table table-striped sortable">
        <thead>
            <tr>
                <th data-defaultsort="asc">ID</th>

                <th>Name</th>
                <th>RP Cost</th>

                <th>Colony</th>
                <th>Military</th>

                <th>Base Health</th>
                <th>Base Attack</th>

                <th>RP Bonus</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var infrastructure in Model.Statistics.Infrastructure)
            {
                <tr>
                    <td>@infrastructure.Infrastructure.id</td>

                    <td>
                        <a href="@Url.RouteUrl("ViewInfrastructure", new { infrastructureID = infrastructure.Infrastructure.id })">
                            @infrastructure.Infrastructure.name
                        </a>
                    </td>
                    <td>@infrastructure.Infrastructure.rp_cost</td>

                    <td>@(infrastructure.Infrastructure.is_colony ? "Yes" : "No")</td>
                    <td>@(infrastructure.Infrastructure.is_military ? "Yes" : "No")</td>

                    <td>@infrastructure.Infrastructure.base_health</td>
                    <td>@infrastructure.Infrastructure.base_attack</td>

                    <td>@infrastructure.Infrastructure.rp_bonus</td>
                </tr>
            }
        </tbody>
    </table>

    <h2>
        <a href="@Url.RouteUrl("Research")">Research</a>
        @if (Model.User.GameUserInfo.is_gm)
        {
            <a href="@Url.RouteUrl("NewResearch")" class="btn btn-default pull-right">
                New Research
            </a>
        }
    </h2>
    <table class="table table-striped sortable">
        <thead>
            <tr>
                <th data-defaultsort="asc">ID</th>

                <th>Name</th>
                <th>RP Cost</th>

                <th>Attack Bonus</th>
                <th>Health Bonus</th>

                <th>Science Bonus</th>
                <th>Colonial Development Bonus</th>
                <th>Ship Construction Bonus</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var research in Model.Statistics.Research)
            {
                <tr>
                    <td>@research.id</td>

                    <td>
                        <a href="@Url.RouteUrl("ViewResearch", new { researchID = research.id })">
                            @research.name
                        </a>
                    </td>
                    <td>@research.rp_cost</td>

                    <td>@research.attack_bonus</td>
                    <td>@research.health_bonus</td>

                    <td>@research.science_bonus</td>
                    <td>@research.colonial_development_bonus</td>
                    <td>@research.ship_construction_bonus</td>
                </tr>
            }
        </tbody>
    </table>

    <h2>
        <a href="@Url.RouteUrl("Ships")">Ships</a>
        @if (Model.User.GameUserInfo.is_gm)
        {
            <a href="@Url.RouteUrl("NewShip")" class="btn btn-default pull-right">
                New Ship
            </a>
        }
    </h2>
    <table class="table table-striped sortable">
        <thead>
            <tr>
                <th data-defaultsort="asc">ID</th>

                <th>Name</th>
                <th>RP Cost</th>

                <th>Ship Rate</th>
                <th>Build Rate</th>
                <th># Build</th>

                <th>Base Health</th>
                <th>Base Attack</th>
                <th>Maximum Fighters</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ship in Model.Statistics.Ships)
            {
                <tr>
                    <td>@ship.Info.id</td>

                    <td>
                        <a href="@Url.RouteUrl("ViewShip", new { shipID = ship.Info.id })">
                            @ship.Info.name
                        </a>
                    </td>
                    <td>@ship.Info.rp_cost</td>

                    <td>@ship.ShipRate.ToString()</td>
                    <td>@ship.ShipRate.build_rate</td>
                    <td>@ship.Info.num_build</td>

                    <td>@ship.Info.base_health</td>
                    <td>@ship.Info.base_attack</td>
                    <td>@ship.Info.maximum_fighters</td>
                </tr>
            }
        </tbody>
    </table>

    
    <h2>
        <a href="@Url.RouteUrl("ShipRates")">Ship Rates</a>
        @if (Model.User.GameUserInfo.is_gm)
        {
            <a href="@Url.RouteUrl("NewShipRate")" class="btn btn-default pull-right">
                New Ship Rate
            </a>
        }
    </h2>
    <table class="table table-striped sortable">
        <thead>
            <tr>
                <th data-defaultsort="asc">ID</th>
                <th>Name</th>
                <th>Build Rate</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var shipRate in Model.Statistics.ShipRatesRaw)
            {
                <tr>
                    <td>@shipRate.id</td>
                    <td>
                        <a href="@Url.RouteUrl("ViewShipRate", new { shipRateID = shipRate.id })">
                            @shipRate.name
                        </a>
                    </td>
                    <td>@shipRate.build_rate</td>
                </tr>
            }
        </tbody>
    </table>

    <h2>
        <a href="@Url.RouteUrl("Species")">Species</a>
        @if (Model.User.GameUserInfo.is_gm)
        {
            <a href="@Url.RouteUrl("NewSpecies")" class="btn btn-default pull-right">
                New Species
            </a>
        }
    </h2>
    <table class="table table-striped sortable">
        <thead>
            <tr>
                <th data-defaultsort="asc">ID</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var species in Model.Statistics.Species)
            {
                <tr>
                    <td>@species.id</td>
                    <td>
                        <a href="@Url.RouteUrl("ViewSpecies", new { speciesID = species.id })">
                            @species.name
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <h2>
        <a href="@Url.RouteUrl("TechLevels")">Tech Levels</a>
        @if (Model.User.GameUserInfo.is_gm)
        {
            <a href="@Url.RouteUrl("NewTechLevel")" class="btn btn-default pull-right">
                New Tech Level
            </a>
        }
    </h2>
    <table class="table table-striped sortable">
        <thead>
            <tr>
                <th data-defaultsort="asc">ID</th>
                <th>Name</th>
                <th>Attack Detriment</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var techLevel in Model.Statistics.TechLevels)
            {
                <tr>
                    <td>@techLevel.id</td>
                    <td>
                        <a href="@Url.RouteUrl("ViewTechLevel", new { techLevelID = techLevel.id })">
                            @techLevel.name
                        </a>
                    </td>
                    <td>@techLevel.attack_detriment</td>
                </tr>
            }
        </tbody>
    </table>

    <h1>Sector Map Statistics</h1>
    <h2>
        <a href="@Url.RouteUrl("PlanetTiers")">Planet Tiers</a>
        @if (Model.User.GameUserInfo.is_gm)
        {
            <a href="@Url.RouteUrl("NewPlanetTier")" class="btn btn-default pull-right">
                New Planet Tier
            </a>
        }
    </h2>
    <table class="table table-striped sortable">
        <thead>
            <tr>
                <th data-defaultsort="asc">ID</th>
                <th>Name</th>
                <th>Build Rate</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var tier in Model.Statistics.PlanetTiers)
            {
                <tr>
                    <td>@tier.id</td>
                    <td>
                        <a href="@Url.RouteUrl("ViewPlanetTier", new { planetTierID = tier.id })">
                            @tier.name
                        </a>
                    </td>
                    <td>@tier.build_rate</td>
                </tr>
            }
        </tbody>
    </table>

    <h2>
        <a href="@Url.RouteUrl("PlanetTypes")">Planet Types</a>
        @if (Model.User.GameUserInfo.is_gm)
        {
            <a href="@Url.RouteUrl("NewPlanetType")" class="btn btn-default pull-right">
                New Planet Type
            </a>
        }
    </h2>
    <table class="table table-striped sortable">
        <thead>
            <tr>
                <th data-defaultsort="asc">ID</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var type in Model.Statistics.PlanetTypes)
            {
                <tr>
                    <td>@type.id</td>
                    <td>
                        <a href="@Url.RouteUrl("ViewPlanetType", new { planetTypeID = type.id })">
                            @type.name
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <h2>
        <a href="@Url.RouteUrl("StarTypes")">Star Types</a>
        @if (Model.User.GameUserInfo.is_gm)
        {
            <a href="@Url.RouteUrl("NewStarType")" class="btn btn-default pull-right">
                New Star Type
            </a>
        }
    </h2>
    <table class="table table-striped sortable">
        <thead>
            <tr>
                <th data-defaultsort="asc">ID</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var type in Model.Statistics.StarTypes)
            {
                <tr>
                    <td>@type.id</td>
                    <td>
                        <a href="@Url.RouteUrl("ViewStarType", new { starTypeID = type.id })">
                            @type.name
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <h2>
        <a href="@Url.RouteUrl("StarAges")">Star Ages</a>
        @if (Model.User.GameUserInfo.is_gm)
        {
            <a href="@Url.RouteUrl("NewStarAge")" class="btn btn-default pull-right">
                New Star Age
            </a>
        }
    </h2>
    <table class="table table-striped sortable">
        <thead>
            <tr>
                <th data-defaultsort="asc">ID</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var age in Model.Statistics.StarAges)
            {
                <tr>
                    <td>@age.id</td>
                    <td>
                        <a href="@Url.RouteUrl("ViewStarAge", new { starAgeID = age.id })">
                            @age.name
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <h2>
        <a href="@Url.RouteUrl("RadiationLevels")">Radiation Levels</a>
        @if (Model.User.GameUserInfo.is_gm)
        {
            <a href="@Url.RouteUrl("NewRadiationLevel")" class="btn btn-default pull-right">
                New Radiation Level
            </a>
        }
    </h2>
    <table class="table table-striped sortable">
        <thead>
            <tr>
                <th data-defaultsort="asc">ID</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var radiation in Model.Statistics.RadiationLevels)
            {
                <tr>
                    <td>@radiation.id</td>
                    <td>
                        <a href="@Url.RouteUrl("ViewRadiationLevel", new { radiationLevelID = radiation.id })">
                            @radiation.name
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <h2>
        <a href="@Url.RouteUrl("StageOfLife")">Stages of Life</a>
        @if (Model.User.GameUserInfo.is_gm)
        {
            <a href="@Url.RouteUrl("NewStageOfLife")" class="btn btn-default pull-right">
                New Stage of Life
            </a>
        }
    </h2>
    <table class="table table-striped sortable">
        <thead>
            <tr>
                <th data-defaultsort="asc">ID</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var stageOfLife in Model.Statistics.StageOfLife)
            {
                <tr>
                    <td>@stageOfLife.id</td>
                    <td>
                        <a href="@Url.RouteUrl("ViewStageOfLife", new { stageOfLifeID = stageOfLife.id })">
                            @stageOfLife.name
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>