@model Fotiv_Automator.Areas.GamePortal.ViewModels.IndexStatistics
@{
    ViewBag.Title = string.Format("Statistics");
}

<div class="row">
    <h2>
        <a href="@Url.RouteUrl("Research")">Research</a>
        @if (Model.User.GameUserInfo.is_gm)
        {
            <a href="@Url.RouteUrl("NewResearch")" class="btn btn-default pull-right">
                New Research
            </a>
        }
    </h2>
    <table class="table table-striped sortable">
        <thead>
            <tr>
                <th data-defaultsort="asc">ID</th>

                <th>Name</th>
                <th>RP Cost</th>

                <th>Attack Bonus</th>
                <th>Health Bonus</th>

                <th>Science Bonus</th>
                <th>Colonial Development Bonus</th>
                <th>Ship Construction Bonus</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var research in Model.Statistics.Research)
            {
                <tr>
                    <td>@research.id</td>

                    <td>
                        <a href="@Url.RouteUrl("ViewResearch", new { researchID = research.id })">
                            @research.name
                        </a>
                    </td>
                    <td>@research.rp_cost</td>

                    <td>@research.attack_bonus</td>
                    <td>@research.health_bonus</td>

                    <td>@research.science_bonus</td>
                    <td>@research.colonial_development_bonus</td>
                    <td>@research.ship_construction_bonus</td>
                </tr>
            }
        </tbody>
    </table>

    <h2>
        <a href="@Url.RouteUrl("Ships")">Ships</a>
        @if (Model.User.GameUserInfo.is_gm)
        {
            <a href="@Url.RouteUrl("NewShip")" class="btn btn-default pull-right">
                New Ship
            </a>
        }
    </h2>
    <table class="table table-striped sortable">
        <thead>
            <tr>
                <th data-defaultsort="asc">ID</th>

                <th>Name</th>
                <th>Ship Rate</th>
                <th>Build Rate</th>

                <th>RP Cost</th>
                <th># Build</th>

                <th>Base Health</th>
                <th>Base Attack</th>
                <th>Maximum Fighters</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ship in Model.Statistics.Ships)
            {
                <tr>
                    <td>@ship.Info.id</td>

                    <td>
                        <a href="@Url.RouteUrl("ViewShip", new { shipID = ship.Info.id })">
                            @ship.Info.name
                        </a>
                    </td>
                    <td>@ship.ShipRate.ToString()</td>
                    <td>@ship.ShipRate.build_rate</td>

                    <td>@ship.Info.rp_cost</td>
                    <td>@ship.Info.num_build</td>

                    <td>@ship.Info.base_health</td>
                    <td>@ship.Info.base_attack</td>
                    <td>@ship.Info.maximum_fighters</td>
                </tr>
            }
        </tbody>
    </table>

    <h2>
        <a href="@Url.RouteUrl("Infrastructure")">Infrastructure</a>
        @if (Model.User.GameUserInfo.is_gm)
        {
            <a href="@Url.RouteUrl("NewInfrastructure")" class="btn btn-default pull-right">
                New Infrastructure
            </a>
        }
    </h2>
    <table class="table table-striped sortable">
        <thead>
            <tr>
                <th data-defaultsort="asc">ID</th>

                <th>Name</th>
                <th>RP Cost</th>

                <th>Is Colony</th>
                <th>Is Military</th>

                <th>Base Health</th>
                <th>Base Attack</th>
                <th>Influence</th>

                <th>RP Bonus</th>
                <th>Science Bonus</th>
                <th>Ship Construction Bonus</th>
                <th>Colonial Development Bonus</th>

                <th>Research Slot</th>
                <th>Ship Construction Slot</th>
                <th>Colonial Development Slot</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var infrastructure in Model.Statistics.Infrastructure)
            {
                <tr>
                    <td>@infrastructure.Infrastructure.id</td>

                    <td>
                        <a href="@Url.RouteUrl("ViewInfrastructure", new { infrastructureID = infrastructure.Infrastructure.id })">
                            @infrastructure.Infrastructure.name
                        </a>
                    </td>
                    <td>@infrastructure.Infrastructure.rp_cost</td>

                    <td>@infrastructure.Infrastructure.is_colony</td>
                    <td>@infrastructure.Infrastructure.is_military</td>

                    <td>@infrastructure.Infrastructure.base_health</td>
                    <td>@infrastructure.Infrastructure.base_attack</td>
                    <td>@infrastructure.Infrastructure.influence</td>

                    <td>@infrastructure.Infrastructure.rp_bonus</td>
                    <td>@infrastructure.Infrastructure.science_bonus</td>
                    <td>@infrastructure.Infrastructure.ship_construction_bonus</td>
                    <td>@infrastructure.Infrastructure.colonial_development_bonus</td>

                    <td>@infrastructure.Infrastructure.research_slot</td>
                    <td>@infrastructure.Infrastructure.ship_construction_slot</td>
                    <td>@infrastructure.Infrastructure.colonial_development_slot</td>
                </tr>
            }
        </tbody>
    </table>

    <h2>
        <a href="@Url.RouteUrl("ShipRates")">Ship Rates</a>
        @if (Model.User.GameUserInfo.is_gm)
        {
            <a href="@Url.RouteUrl("NewShipRate")" class="btn btn-default pull-right">
                New Ship Rate
            </a>
        }
    </h2>
    <table class="table table-striped sortable">
        <thead>
            <tr>
                <th data-defaultsort="asc">ID</th>
                <th>Name</th>
                <th>Build Rate</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var shipRate in Model.Statistics.ShipRatesRaw)
            {
                <tr>
                    <td>@shipRate.id</td>
                    <td>
                        <a href="@Url.RouteUrl("ViewShipRate", new { shipRateID = shipRate.id })">
                            @shipRate.name
                        </a>
                    </td>
                    <td>@shipRate.build_rate</td>
                </tr>
            }
        </tbody>
    </table>

    <h2>
        <a href="@Url.RouteUrl("PlanetTiers")">Planetary Tiers</a>
        @if (Model.User.GameUserInfo.is_gm)
        {
            <a href="@Url.RouteUrl("NewPlanetTier")" class="btn btn-default pull-right">
                New Planetary Tier
            </a>
        }
    </h2>
    <table class="table table-striped sortable">
        <thead>
            <tr>
                <th data-defaultsort="asc">ID</th>
                <th>Name</th>
                <th>Build Rate</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var tier in Model.Statistics.PlanetTiers)
            {
                 <tr>
                    <td>@tier.id</td>
                    <td>
                        <a href="@Url.RouteUrl("ViewPlanetTier", new { planetTierID = tier.id })">
                            @tier.name
                        </a>
                    </td>
                    <td>@tier.build_rate</td>
                </tr>
            }
        </tbody>
    </table>
</div>