@using Fotiv_Automator.Areas.GamePortal;
@model Fotiv_Automator.Areas.GamePortal.ViewModels.IndexRnDShipConstruction
@{
    ViewBag.Title = string.Format("R&D Ship Construction for {0}", Model.CivilizationName);
}

<h1>R&D Ship Construction for @Model.CivilizationName</h1>

<div class="row">
    <h2>
        Ship Construction
        @if (GameState.Game.GetCivilization(Model.CivilizationID).Assets.HasShipConstructionSlots &&
                (Fotiv_Automator.Infrastructure.Attributes.RequireGMAdminAttribute.IsGMOrAdmin() || Model.PlayerOwnsCivilization))
        {
            <a href="@Url.RouteUrl("NewRnDShipConstruction", new { civilizationID = Model.CivilizationID })" class="btn btn-default pull-right">
                New Ship
            </a>
        }
    </h2>
    <table class="table table-striped sortable">
        <thead>
            <tr>
                <th>ID</th>
                <th>RP Cost</th>
                <th>Name</th>
                <th>Build Percentage</th>

                <th>Ship ID</th>
                <th>Battlegroup ID</th>
                <th>Current Health</th>
                <th>Experience</th>
                <th>Command and Control</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ship in Model.Ships)
            {
                <tr>
                    <td>@ship.CivilizationInfo.id</td>
                    <td>@ship.Ship.Info.rp_cost</td>
                    <td>@ship.CivilizationInfo.name</td>
                    <td>@ship.CivilizationInfo.build_percentage</td>

                    <td>
                        <a href="@Url.RouteUrl("ViewShip", new { shipID = ship.CivilizationInfo.ship_id })">
                            @ship.CivilizationInfo.ship_id
                        </a>
                    </td>
                    <td>
                        <a href="@Url.RouteUrl("ViewBattlegroup", new { battlegroupID = ship.CivilizationInfo.ship_battlegroup_id })">
                            @ship.CivilizationInfo.ship_battlegroup_id
                        </a>
                    </td>
                    <td>@ship.CivilizationInfo.current_health</td>
                    <td>@ship.CivilizationInfo.experience</td>
                    <td>@(ship.CivilizationInfo.command_and_control ? "Yes" : "No")</td>
                </tr>
            }
        </tbody>
    </table>

</div>


