@model Fotiv_Automator.Areas.GamePortal.ViewModels.Forms.RnDShipConstructionForm
@{
    ViewBag.Title = string.Format("New Ship Construction");
}

<div class="row">
    @using (Html.BeginForm())
    {

        <div class="hidden" id="anti-forgery-container">
            @Html.AntiForgeryToken()
        </div>

        <div class="col-md-6">
            @Html.ValidationSummary()

            <div>
                @Html.LabelFor(x => x.CivilizationID)
                @Html.DisplayTextFor(x => x.CivilizationID)
                @Html.HiddenFor(x => x.CivilizationID)
            </div>

            <div>
                @Html.LabelFor(x => x.Name)
                @Html.EditorFor(x => x.Name)
            </div>

            @if (Fotiv_Automator.Infrastructure.Attributes.RequireGMAdminAttribute.IsGMOrAdmin())
            {
                <div>
                    @Html.LabelFor(x => x.BuildPercentage)
                    @Html.EditorFor(x => x.BuildPercentage)
                </div>
            }

            @if (Fotiv_Automator.Infrastructure.Attributes.RequireGMAdminAttribute.IsGMOrAdmin())
            {
                <div>
                    @Html.LabelFor(x => x.Experience)
                    @Html.EditorFor(x => x.Experience)
                </div>
            }

            <div>
                @Html.LabelFor(x => x.CommandAndControl)
                @Html.CheckBoxFor(x => x.CommandAndControl)
            </div>

            @if (Fotiv_Automator.Infrastructure.Attributes.RequireGMAdminAttribute.IsGMOrAdmin())
            {
                <div>
                    @Html.LabelFor(x => x.GMNotes)
                    @Html.TextAreaFor(x => x.GMNotes)
                </div>
            }

        </div>
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">Ships</div>
                <div class="panel-body">
                    <ul class="item-select">
                        @for (var i = 0; i < Model.Ships.Count; i++)
                        {
                            var ship = Model.Ships[i];
                            <li>
                                @Html.HiddenFor(x => x.Ships[i].ID)

                                @Html.DisplayFor(x => x.Ships[i].Name)
                                @Html.HiddenFor(x => x.Ships[i].Name)

                                @if (Model.Ships[i].IsChecked)
                                {
                                    @Html.RadioButtonFor(x => x.SelectedShipID, Model.Ships[i].ID, new { id = "ship" + ship.ID, @checked = "checked" })
                                }
                                else
                                {
                                    @Html.RadioButtonFor(x => x.SelectedShipID, Model.Ships[i].ID, new { id = "ship" + ship.ID })
                                }
                            </li>
                        }
                    </ul>
                </div>
            </div>

            <input class="btn btn-default newButton" type="submit" value="Create Ship Construction" />
        </div>
    }
</div>