@model Fotiv_Automator.Areas.GamePortal.ViewModels.ViewRnDShipConstruction
@{
    ViewBag.Title = Model.Ship.CivilizationInfo.name;
}

<div class="row">
    <h1>
        @Model.Ship.CivilizationInfo.name - @Model.Ship.Ship.Info.name

        @if (Fotiv_Automator.Infrastructure.Attributes.RequireGMAdminAttribute.IsGMOrAdmin())
        {
            <a href="@Url.RouteUrl("EditRnDShipConstruction", new { rndShipConstructionID = Model.Ship.CivilizationInfo.id })" class="btn btn-default pull-right">
                Edit Ship Construction
            </a>
        }
    </h1>

    <p>@Model.Ship.Ship.Info.description</p>

    @if ((Model.User.GameUserInfo.is_gm || User.IsInRole("Admin")) && !string.IsNullOrWhiteSpace(Model.Ship.CivilizationInfo.gmnotes))
    {
        <h2>GM Notes</h2>
        <p>@Model.Ship.CivilizationInfo.gmnotes</p>
    }

    <h2>Civilization Details</h2>
    <table class="table table-striped sortable">
        <thead>
            <tr>
                <th>ID</th>
                <th>RP Cost</th>
                <th>Name</th>
                <th>Build Percentage</th>

                <th>Ship ID</th>
                <th>Battlegroup ID</th>
                <th>Current Health</th>
                <th>Experience</th>
                <th>Command and Control</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.Ship.CivilizationInfo.id</td>
                <td>@Model.Ship.Ship.Info.rp_cost</td>
                <td>@Model.Ship.CivilizationInfo.name</td>
                <td>@Model.Ship.CivilizationInfo.build_percentage</td>

                <td>
                    <a href="@Url.RouteUrl("ViewShip", new { shipID = Model.Ship.CivilizationInfo.ship_id })">
                        @Model.Ship.CivilizationInfo.ship_id
                    </a>
                </td>
                <td>
                    <a href="@Url.RouteUrl("ViewShip", new { battlegroupID = Model.Ship.CivilizationInfo.ship_battlegroup_id })">
                        @Model.Ship.CivilizationInfo.ship_battlegroup_id
                    </a>
                </td>
                <td>@Model.Ship.CivilizationInfo.current_health</td>
                <td>@Model.Ship.CivilizationInfo.experience</td>
                <td>@(Model.Ship.CivilizationInfo.command_and_control ? "Yes" : "No")</td>
            </tr>
        </tbody>
    </table>

    <h2>Overview</h2>
    <table class="table table-striped sortable">
        <thead>
            <tr>
                <th data-defaultsort="asc">ID</th>

                <th>Name</th>

                <th>Ship Rate</th>
                <th>Build Rate</th>

                <th>RP Cost</th>
                <th># Build</th>

                <th>Military</th>
                <th>Fighter</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.Ship.Ship.Info.id</td>

                <td>@Model.Ship.Ship.Info.name</td>

                <td>
                    <a href="@Url.RouteUrl("ViewShipRate", new { shipRateID = Model.Ship.Ship.ShipRate.id })">
                        @Model.Ship.Ship.ShipRate.name
                    </a>
                </td>
                <td>@Model.Ship.Ship.ShipRate.build_rate</td>

                <td>@Model.Ship.Ship.Info.rp_cost</td>
                <td>@Model.Ship.Ship.Info.num_build</td>

                <td>@(Model.Ship.Ship.Info.is_military ? "Yes" : "No")</td>
                <td>@(Model.Ship.Ship.Info.is_fighter ? "Yes" : "No")</td>
            </tr>
        </tbody>
    </table>

    <h2>Statistics</h2>
    <table class="table table-striped sortable">
        <thead>
            <tr>
                <th data-defaultsort="asc">Base Health</th>
                <th>Base Regeneration</th>
                <th>Base Attack</th>
                <th>Base Special Attack</th>
                <th>Base Agility</th>
                <th>Maximum Fighters</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.Ship.Ship.Info.base_health</td>
                <td>@Model.Ship.Ship.Info.base_regeneration</td>
                <td>@Model.Ship.Ship.Info.base_attack</td>
                <td>@Model.Ship.Ship.Info.base_special_attack</td>
                <td>@Model.Ship.Ship.Info.base_agility</td>
                <td>@Model.Ship.Ship.Info.maximum_fighters</td>
            </tr>
        </tbody>
    </table>

    @if (Fotiv_Automator.Infrastructure.Attributes.RequireGMAdminAttribute.IsGMOrAdmin() ||
        Model.PlayerOwnsCivilization)
    {
        <div class="hidden" id="anti-forgery-container">
            @Html.AntiForgeryToken()
        </div>

        <a href="@Url.Action("Delete", new { rndShipConstructionID = Model.Ship.CivilizationInfo.id })"
           class="btn btn-danger"
           data-delete="THIS ACTION IS FINAL. All progress towards this will be lost. Are you sure you want to delete this?">
            <i class="glyphicon glyphicon-remove"></i> Delete
        </a>
    }
</div>