@model Fotiv_Automator.Areas.GamePortal.ViewModels.ViewRnDColonialDevelopment
@{
    ViewBag.Title = Model.Infrastructure.InfrastructureInfo.Infrastructure.name;
}

<div class="row">
    <h1>
        @Model.Infrastructure.CivilizationInfo.name - @Model.Infrastructure.InfrastructureInfo.Infrastructure.name

        @if (Fotiv_Automator.Infrastructure.Attributes.RequireGMAdminAttribute.IsGMOrAdmin())
        {
            <a href="@Url.RouteUrl("EditRnDColonialDevelopment", new { rndColonialDevelopmentID = Model.Infrastructure.CivilizationInfo.id })" class="btn btn-default pull-right">
                Edit Research
            </a>
        }
    </h1>

    <p>@Model.Infrastructure.InfrastructureInfo.Infrastructure.description</p>

    <h2>Civilization Details</h2>
    <table class="table table-striped sortable">
        <thead>
            <tr>
                <th>ID</th>
                <th>RP Cost</th>
                <th>Name</th>
                <th>Build Percentage</th>

                <th>Planet ID</th>
                <th>Structure ID</th>
                <th>Current Health</th>
                <th>Upgradeable</th>
                <th>Military</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.Infrastructure.CivilizationInfo.id</td>
                <td>@Model.Infrastructure.InfrastructureInfo.Infrastructure.rp_cost</td>
                <td>@Model.Infrastructure.CivilizationInfo.name</td>
                <td>@Model.Infrastructure.CivilizationInfo.build_percentage</td>

                <td>
                    <a href="@Url.RouteUrl("ViewPlanet", new { planetID = Model.Infrastructure.CivilizationInfo.planet_id })">
                        @Model.Infrastructure.CivilizationInfo.planet_id
                    </a>
                </td>
                <td>
                    <a href="@Url.RouteUrl("ViewInfrastructure", new { infrastructureID = Model.Infrastructure.CivilizationInfo.struct_id })">
                        @Model.Infrastructure.CivilizationInfo.struct_id
                    </a>
                </td>
                <td>@Model.Infrastructure.CivilizationInfo.current_health / @Model.Infrastructure.InfrastructureInfo.Infrastructure.base_health</td>
                <td>@(Model.Infrastructure.CivilizationInfo.can_upgrade ? "Yes" : "No")</td>
                <td>@(Model.Infrastructure.CivilizationInfo.is_military ? "Yes" : "No")</td>
            </tr>
        </tbody>
    </table>

    <h1>Infrastructure Details</h1>
    <h2>Overview</h2>
    <table class="table table-striped sortable">
        <thead>
            <tr>
                <th data-defaultsort="asc">ID</th>

                <th>Name</th>
                <th>RP Cost</th>

                <th>Colony</th>
                <th>Military</th>

                <th>Domestic Influence</th>
                <th>Foreign Influence</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.Infrastructure.InfrastructureInfo.Infrastructure.id</td>

                <td>@Model.Infrastructure.InfrastructureInfo.Infrastructure.name</td>
                <td>@Model.Infrastructure.InfrastructureInfo.Infrastructure.rp_cost</td>

                <td>@(Model.Infrastructure.InfrastructureInfo.Infrastructure.is_colony ? "Yes" : "No")</td>
                <td>@(Model.Infrastructure.InfrastructureInfo.Infrastructure.is_military ? "Yes" : "No")</td>

                <td>@Model.Infrastructure.InfrastructureInfo.Infrastructure.domestic_influence_bonus</td>
                <td>@Model.Infrastructure.InfrastructureInfo.Infrastructure.foreign_influence_bonus</td>
            </tr>
        </tbody>
    </table>

    <h2>Statistics</h2>
    <table class="table table-striped sortable">
        <thead>
            <tr>
                <th data-defaultsort="asc">Base Health</th>
                <th>Base Regeneration</th>
                <th>Base Attack</th>
                <th>Base Special Attack</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.Infrastructure.InfrastructureInfo.Infrastructure.base_health</td>
                <td>@Model.Infrastructure.InfrastructureInfo.Infrastructure.base_regeneration</td>
                <td>@Model.Infrastructure.InfrastructureInfo.Infrastructure.base_attack</td>
                <td>@Model.Infrastructure.InfrastructureInfo.Infrastructure.base_special_attack</td>
            </tr>
        </tbody>
    </table>

    <h2>Bonuses</h2>
    <table class="table table-striped sortable">
        <thead>
            <tr>
                <th data-defaultsort="asc">RP Bonus</th>
                <th>Science Bonus</th>
                <th>Ship Construction Bonus</th>
                <th>Colonial Development Bonus</th>
                <th>Unit Training Bonus</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.Infrastructure.InfrastructureInfo.Infrastructure.rp_bonus</td>
                <td>@Model.Infrastructure.InfrastructureInfo.Infrastructure.science_bonus</td>
                <td>@Model.Infrastructure.InfrastructureInfo.Infrastructure.ship_construction_bonus</td>
                <td>@Model.Infrastructure.InfrastructureInfo.Infrastructure.colonial_development_bonus</td>
                <td>@Model.Infrastructure.InfrastructureInfo.Infrastructure.unit_training_bonus</td>
            </tr>
        </tbody>
    </table>

    <h2>Additional Slots</h2>
    <table class="table table-striped sortable">
        <thead>
            <tr>
                <th data-defaultsort="asc">Research Slot</th>
                <th>Ship Construction Slot</th>
                <th>Colonial Development Slot</th>
                <th>Unit Training Slot</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@(Model.Infrastructure.InfrastructureInfo.Infrastructure.research_slot ? "Yes" : "No")</td>
                <td>@(Model.Infrastructure.InfrastructureInfo.Infrastructure.ship_construction_slot ? "Yes" : "No")</td>
                <td>@(Model.Infrastructure.InfrastructureInfo.Infrastructure.colonial_development_slot ? "Yes" : "No")</td>
                <td>@(Model.Infrastructure.InfrastructureInfo.Infrastructure.unit_training_slot ? "Yes" : "No")</td>
            </tr>
        </tbody>
    </table>


    @if (Fotiv_Automator.Infrastructure.Attributes.RequireGMAdminAttribute.IsGMOrAdmin() ||
        Model.PlayerOwnsCivilization)
    {
        <div class="hidden" id="anti-forgery-container">
            @Html.AntiForgeryToken()
        </div>

        <a href="@Url.Action("Delete", new { rndColonialDevelopmentID = Model.Infrastructure.CivilizationInfo.id })"
           class="btn btn-danger"
           data-delete="THIS ACTION IS FINAL. All progress towards this will be lost. Are you sure you want to delete this?">
            <i class="glyphicon glyphicon-remove"></i> Delete
        </a>
    }
</div>