@model Fotiv_Automator.Areas.GamePortal.ViewModels.IndexCivilizations
@{
    ViewBag.Title = string.Format("Game Civilizations");
}

<h1>List of Civilizations</h1>

<div class="row">
    <div class="col-md-6">
        <h2>Your Civilizations</h2>
        <table class="table table-striped sortable">
            <thead>
                <tr>
                    <th data-defaultsort="asc">Name</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var civilization in Model.Civilizations)
                {
                    foreach (var owner in civilization.Owners)
                    {
                        if (owner.User.ID == Model.User.User.ID)
                        {
                            <tr>
                                <td>
                                    <a href="@Url.RouteUrl("ViewCivilization", new { gameID = civilization.Info.game_id, civilizationID = civilization.Info.id })">
                                        @civilization.Info.name
                                    </a>
                                </td>
                            </tr>

                            break;
                        }
                    }
                }
            </tbody>
        </table>
    </div>

    @if (Fotiv_Automator.Infrastructure.Attributes.RequireGMAdminAttribute.IsGMOrAdmin())
    {
        <div class="col-md-6">
            <h2>All Civilizations
                <a href="@Url.RouteUrl("NewCivilization", new { gameID = Model.User.GameUserInfo.game_id })" class="btn btn-default pull-right">
                    New Civilization
                </a>
            </h2>
            <table class="table table-striped sortable">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th data-defaultsort="asc">Name</th>
                        <th data-defaultsort='disabled'>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var civilization in Model.Civilizations)
                    {
                        <tr>
                            <td>@civilization.Info.id</td>
                            <td>
                                <a href="@Url.RouteUrl("ViewCivilization", new { gameID = Model.User.GameUserInfo.game_id, civilizationID = civilization.Info.id })">
                                    @civilization.Info.name
                                </a>
                            </td>
                            <td>
                                <a href="@Url.RouteUrl("EditCivilization", new { gameID = Model.User.GameUserInfo.game_id, civilizationID = civilization.Info.id })" class="btn btn-default pull-right">
                                    Edit Civilization
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>


