@model Fotiv_Automator.Areas.GamePortal.ViewModels.ViewCivilization
@{
    ViewBag.Title = Model.Civilization.Info.name;
}

<div class="row">
    <h1>
        @Model.Civilization.Info.name

        @if (Fotiv_Automator.Infrastructure.Attributes.RequireGMAdminAttribute.IsGMOrAdmin())
        {
            <a href="@Url.RouteUrl("EditCivilization", new { gameID = Model.User.GameUserInfo.game_id, civilizationID = Model.Civilization.Info.id })" class="btn btn-default pull-right">
                Edit Civilization
            </a>
        }
    </h1>

    <div class="col-md-8">
        <h2>Overview</h2>
        <table class="table table-striped sortable">
            <thead>
                <tr>
                    <th data-defaultsort="asc">ID</th>
                    <th>Colour</th>
                    <th>Total RP</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.Civilization.Info.id</td>
                    <td style="color:@Model.Civilization.Info.colour;">@Model.Civilization.Info.colour</td>
                    <td>@Model.Civilization.Info.rp</td>
                </tr>
            </tbody>
        </table>

        <hr />

        <h2>Assets</h2>
        <div class="row">
            <ul class="nav nav-pills">
                <li class="active">
                    <a href="#1a" data-toggle="tab">Research &amp; Development</a>
                </li>
                <li>
                    <a href="#2a" data-toggle="tab">Research</a>
                </li>
                <li>
                    <a href="#3a" data-toggle="tab">Infrastructure</a>
                </li>
                <li>
                    <a href="#4a" data-toggle="tab">Military</a>
                </li>
                <li>
                    <a href="#5a" data-toggle="tab">Battlegroups</a>
                </li>
            </ul>

            <div class="tab-content clearfix">
                <div class="tab-pane active" id="1a">
                    <h3>
                        Research
                        @if (Model.Civilization.Assets.HasResearchSlots &&
                            (Model.Civilization.PlayerOwnsCivilization(Model.User.ID) ||
                            Fotiv_Automator.Infrastructure.Attributes.RequireGMAdminAttribute.IsGMOrAdmin()))
                        {
                            <a href="@Url.RouteUrl("NewRnDResearch", new { gameID = Model.User.GameUserInfo.game_id, civilizationID = Model.Civilization.ID })" class="btn btn-default pull-right">
                                New Research
                            </a>
                        }
                    </h3>
                    <table class="table table-striped sortable">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>RP Cost</th>
                                <th>Name</th>
                                <th>Build Percentage</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var research in Model.Civilization.Assets.IncompleteResearch)
                            {
                                <tr>
                                    <td>@research.Info.id</td>
                                    <td>@research.BeingResearched.rp_cost</td>
                                    <td>
                                        <a href="@Url.RouteUrl("ViewRnDResearch", new { gameID = Model.User.GameUserInfo.game_id, civilizationID = Model.Civilization.ID, rndResearchID = research.Info.id })">
                                            @research.BeingResearched.name
                                        </a>
                                    </td>
                                    <td>@research.Info.build_percentage</td>
                                </tr>
                            }
                        </tbody>
                    </table>

                    <h3>
                        Unit Training
                        @if (Model.Civilization.Assets.HasUnitTrainingSlots &&
                            (Model.Civilization.PlayerOwnsCivilization(Model.User.ID) ||
                            Fotiv_Automator.Infrastructure.Attributes.RequireGMAdminAttribute.IsGMOrAdmin()))
                        {
                            <a href="@Url.RouteUrl("NewRnDUnit", new { gameID = Model.User.GameUserInfo.game_id, civilizationID = Model.Civilization.ID })" class="btn btn-default pull-right">
                                New Unit
                            </a>
                        }
                    </h3>
                    <table class="table table-striped sortable">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>RP Cost</th>
                                <th>Name</th>
                                <th>Unit Type</th>
                                <th># Built</th>
                                <th>Build Percentage</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var unit in Model.Civilization.Assets.IncompleteGroundUnits)
                            {
                                <tr>
                                    <td>@unit.Info.id</td>
                                    <td>@unit.BeingBuilt.Info.rp_cost</td>
                                    <td>
                                        <a href="@Url.RouteUrl("ViewRnDUnit", new { gameID = Model.User.GameUserInfo.game_id, civilizationID = Model.Civilization.ID, rndUnitID = unit.Info.id })">
                                            @unit.Info.name
                                        </a>
                                    </td>
                                    <td>
                                        <a href="@Url.RouteUrl("ViewUnit", new { gameID = Model.User.GameUserInfo.game_id, unitID = unit.Info.unit_id })">
                                            @unit.BeingBuilt.Info.name
                                        </a>
                                    </td>
                                    <td>@unit.BeingBuilt.Info.number_to_build</td>
                                    <td>@unit.Info.build_percentage</td>
                                </tr>
                            }
                        </tbody>
                    </table>

                    <h3>
                        Ship Construction
                        @if (Model.Civilization.Assets.HasShipConstructionSlots &&
                            (Model.Civilization.PlayerOwnsCivilization(Model.User.ID) ||
                            Fotiv_Automator.Infrastructure.Attributes.RequireGMAdminAttribute.IsGMOrAdmin()))
                        {
                            <a href="@Url.RouteUrl("NewRnDShip", new { gameID = Model.User.GameUserInfo.game_id, civilizationID = Model.Civilization.ID })" class="btn btn-default pull-right">
                                New Ship
                            </a>
                        }
                    </h3>
                    <table class="table table-striped sortable">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>RP Cost</th>
                                <th>Name</th>
                                <th>Ship Type</th>
                                <th># Built</th>
                                <th>Build Percentage</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var ship in Model.Civilization.Assets.IncompleteSpaceUnits)
                            {
                                <tr>
                                    <td>@ship.Info.id</td>
                                    <td>@ship.BeingBuilt.Info.rp_cost</td>
                                    <td>
                                        <a href="@Url.RouteUrl("ViewRnDUnit", new { gameID = Model.User.GameUserInfo.game_id, civilizationID = Model.Civilization.ID, rndUnitID = ship.Info.id })">
                                            @ship.Info.name
                                        </a>
                                    </td>
                                    <td>
                                        <a href="@Url.RouteUrl("ViewUnit", new { gameID = Model.User.GameUserInfo.game_id, unitID = ship.Info.unit_id })">
                                            @ship.BeingBuilt.Info.name
                                        </a>
                                    </td>
                                    <td>@ship.BeingBuilt.Info.number_to_build</td>
                                    <td>@ship.Info.build_percentage</td>
                                </tr>
                            }
                        </tbody>
                    </table>

                    <h3>
                        Colonial Development
                        @if (Model.Civilization.Assets.HasColonialDevelopmentSlots &&
                            (Model.Civilization.PlayerOwnsCivilization(Model.User.ID) ||
                            Fotiv_Automator.Infrastructure.Attributes.RequireGMAdminAttribute.IsGMOrAdmin()))
                        {
                            <a href="@Url.RouteUrl("NewRnDColonialDevelopment", new { gameID = Model.User.GameUserInfo.game_id, civilizationID = Model.Civilization.ID })" class="btn btn-default pull-right">
                                New Colonial Development
                            </a>
                        }
                    </h3>
                    <table class="table table-striped sortable">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>RP Cost</th>
                                <th>Planet Name</th>
                                <th>Name</th>
                                <th>Infrastructure Name</th>
                                <th>Build Percentage</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var infrastructure in Model.Civilization.Assets.IncompleteInfrastructure)
                            {
                                <tr>
                                    <td>@infrastructure.Info.id</td>
                                    <td>@infrastructure.BeingBuilt.Infrastructure.rp_cost</td>
                                    <td>
                                        <a href="@Url.RouteUrl("ViewPlanet", new { gameID = Model.User.GameUserInfo.game_id, planetID = infrastructure.Planet.PlanetID })">
                                            @infrastructure.Planet.Info.name
                                        </a>
                                    </td>
                                    <td>
                                        <a href="@Url.RouteUrl("ViewRnDColonialDevelopment", new { gameID = Model.User.GameUserInfo.game_id, civilizationID = Model.Civilization.ID, rndColonialDevelopmentID = infrastructure.Info.id })">
                                            @infrastructure.Info.name
                                        </a>
                                    </td>
                                    <td>
                                        <a href="@Url.RouteUrl("ViewInfrastructure", new { gameID = Model.User.GameUserInfo.game_id, infrastructureID = infrastructure.BeingBuilt.Infrastructure.id })">
                                            @infrastructure.BeingBuilt.Infrastructure.name
                                        </a>
                                    </td>
                                    <td>@infrastructure.Info.build_percentage</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane" id="2a">
                    <h3>
                        Completed Research
                        @if (Fotiv_Automator.Infrastructure.Attributes.RequireGMAdminAttribute.IsGMOrAdmin())
                        {
                            <a href="@Url.RouteUrl("NewCivilizationResearch", new { gameID = Model.User.GameUserInfo.game_id, civilizationID = Model.Civilization.ID })" class="btn btn-default pull-right">
                                New Research
                            </a>
                        }
                    </h3>
                    @if (Model.Civilization.PlayerOwnsCivilization(Model.User.ID) || Fotiv_Automator.Infrastructure.Attributes.RequireGMAdminAttribute.IsGMOrAdmin())
                    {
                        <table class="table table-striped sortable">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var research in Model.Civilization.Assets.CompletedResearch)
                                {
                                    <tr>
                                        <td>@research.CivilizationInfo.id</td>
                                        <td>
                                            <a href="@Url.RouteUrl("ViewCivilizationResearch", new { gameID = Model.User.GameUserInfo.game_id, civilizationID = Model.Civilization.ID, civilizationResearchID = research.CivilizationInfo.id })">
                                                @research.ResearchInfo.name
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                </div>
                <div class="tab-pane" id="3a">
                    <h3>
                        Infrastructure
                        @if (Fotiv_Automator.Infrastructure.Attributes.RequireGMAdminAttribute.IsGMOrAdmin())
                        {
                            <a href="@Url.RouteUrl("NewCivilizationInfrastructure", new { gameID = Model.User.GameUserInfo.game_id, civilizationID = Model.Civilization.ID })" class="btn btn-default pull-right">
                                New Civilization Infrastructure
                            </a>
                        }
                    </h3>
                    @if (Model.Civilization.PlayerOwnsCivilization(Model.User.ID) || Fotiv_Automator.Infrastructure.Attributes.RequireGMAdminAttribute.IsGMOrAdmin())
                    {
                        var sortedSystems = from infrastructure in Model.Civilization.Assets.CompletedInfrastructure
                                                //orderby infrastructure.Planet.Star.SolarSystem.HexCode
                                            group infrastructure by infrastructure.Planet.Star.SolarSystem.HexCode into newGroup
                                            //orderby newGroup.Key
                                            select newGroup;

                        foreach (var systemGroup in sortedSystems)
                        {
                            var system = systemGroup.FirstOrDefault().Planet.Star.SolarSystem;
                            if (system != null)
                            {
                                <h4>
                                    <a href="@Url.RouteUrl("ViewStarsystem", new { gameID = Model.User.GameUserInfo.game_id, starsystemID = system.ID })">
                                        Hex: @system.HexCode.X, @system.HexCode.Y
                                    </a>
                                </h4>
                            }

                            <table class="table table-striped sortable">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Planet</th>
                                        <th>Name</th>
                                        <th>Infrastructure</th>

                                        <th>Health</th>
                                        <th>Experience</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var infrastructure in systemGroup)
                                    {
                                        <tr>
                                            <td>@infrastructure.CivilizationInfo.id</td>
                                            <td>
                                                <a href="@Url.RouteUrl("ViewPlanet", new { gameID = Model.User.GameUserInfo.game_id, planetID = infrastructure.CivilizationInfo.planet_id })">
                                                    @infrastructure.CivilizationInfo.planet_id - @infrastructure.Planet.Info.name
                                                </a>
                                            </td>

                                            <td>
                                                <a href="@Url.RouteUrl("ViewCivilizationInfrastructure", new { gameID = Model.User.GameUserInfo.game_id, civilizationID = Model.Civilization.ID, civilizationInfrastructureID = infrastructure.CivilizationInfo.id })">
                                                    @infrastructure.CivilizationInfo.name
                                                </a>
                                            </td>
                                            <td>
                                                <a href="@Url.RouteUrl("ViewInfrastructure", new { gameID = Model.User.GameUserInfo.game_id, infrastructureID = infrastructure.CivilizationInfo.struct_id })">
                                                    @infrastructure.InfrastructureInfo.Infrastructure.name
                                                </a>
                                            </td>

                                            <td>@(infrastructure.CivilizationInfo.current_health)/@(infrastructure.CalculateMaxHealth())</td>
                                            <td>
                                                <a href="@Url.RouteUrl("ViewExperienceLevel", new { gameID = Model.User.GameUserInfo.game_id, experienceLevelID = infrastructure.ExperienceLevel.id })" class="">
                                                    @(infrastructure.CivilizationInfo.experience)XP
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                    }
                </div>
                <div class="tab-pane" id="4a">
                    <h3>
                        Military
                        @if (Fotiv_Automator.Infrastructure.Attributes.RequireGMAdminAttribute.IsGMOrAdmin())
                        {
                            <a href="@Url.RouteUrl("NewCivilizationUnit", new { gameID = Model.User.GameUserInfo.game_id, civilizationID = Model.Civilization.ID })" class="btn btn-default pull-right">
                                New Civilization Unit
                            </a>
                        }
                    </h3>

                    @if (Model.Civilization.PlayerOwnsCivilization(Model.User.ID) || Fotiv_Automator.Infrastructure.Attributes.RequireGMAdminAttribute.IsGMOrAdmin())
                    {
                        <h4>Ships</h4>
                        @Html.Partial("~/Areas/GamePortal/Views/Civilization/_Units.cshtml", Model.Civilization.Assets.CompletedSpaceUnits)

                        <h4>Planetary Units</h4>
                        @Html.Partial("~/Areas/GamePortal/Views/Civilization/_Units.cshtml", Model.Civilization.Assets.CompletedGroundUnits)
                    }
                </div>
                <div class="tab-pane" id="5a">
                    <h3>
                        Battlegroups
                        @if (Fotiv_Automator.Infrastructure.Attributes.RequireGMAdminAttribute.IsGMOrAdmin())
                        {
                            <a href="@Url.RouteUrl("NewBattlegroup", new { gameID = Model.User.GameUserInfo.game_id, civilizationID = Model.Civilization.ID })" class="btn btn-default pull-right">
                                New Battlegroup
                            </a>
                        }
                    </h3>

                    @if (Model.Civilization.PlayerOwnsCivilization(Model.User.ID) || Fotiv_Automator.Infrastructure.Attributes.RequireGMAdminAttribute.IsGMOrAdmin())
                    {
                        foreach (var battlegroup in Model.Civilization.Assets.Battlegroups)
                        {
                            <hr />
                            <h4>
                                <a href="@Url.RouteUrl("ViewBattlegroup", new { gameID = Model.User.GameUserInfo.game_id, civilizationID = Model.Civilization.ID, battlegroupID = battlegroup.Info.id })" class="">
                                    @battlegroup.Info.id - @battlegroup.Info.name (Hex: @battlegroup.StarSystem.HexCode.X, @battlegroup.StarSystem.HexCode.Y)
                                </a>

                                <a href="@Url.RouteUrl("EditBattlegroup", new { gameID = battlegroup.Info.game_id, civilizationID = battlegroup.Info.civilization_id, battlegroupID = battlegroup.ID })" class="btn btn-default pull-right">
                                    Edit Battlegroup
                                </a>
                            </h4>
                            <table class="table table-striped sortable">
                                <thead>
                                    <tr>
                                        <th>Total Ships</th>
                                        <th>Total Health</th>
                                        <th>Total Regeneration Factor</th>
                                        <th>Total Attack</th>
                                        <th>Total Special Attack</th>
                                        <th>Total Agility</th>
                                        <th>Total Embarking Slots</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>@battlegroup.TotalUnits</td>
                                        <td>@(battlegroup.CalculateCurrentHealth())/@(battlegroup.CalculateMaxHealth())</td>
                                        <td>@battlegroup.CalculateRegenerationFactor()</td>
                                        <td>@battlegroup.CalculateAttack()</td>
                                        <td>@battlegroup.CalculateSpecialAttack()</td>
                                        <td>@battlegroup.CalculateAgility()</td>
                                        <td>@(battlegroup.CalculateCurrentEmbarked())/@(battlegroup.CalculateMaxEmbarked())</td>
                                    </tr>
                                </tbody>
                            </table>

                            @Html.Partial("~/Areas/GamePortal/Views/Civilization/_Units.cshtml", battlegroup.Units)
                        }
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <h2>Civilization Traits</h2>
        @if (Model.Civilization.CivilizationTrait1 != null)
        {
            <p>
                <a href="@Url.RouteUrl("ViewCivilizationTrait", new { civilizationTraitID = Model.Civilization.CivilizationTrait1.id })">
                    @Model.Civilization.CivilizationTrait1.name
                </a>
            </p>
        }
        @if (Model.Civilization.CivilizationTrait2 != null)
        {
            <p>
                <a href="@Url.RouteUrl("ViewCivilizationTrait", new { civilizationTraitID = Model.Civilization.CivilizationTrait2.id })">
                    @Model.Civilization.CivilizationTrait2.name
                </a>
            </p>
        }
        @if (Model.Civilization.CivilizationTrait3 != null)
        {
            <p>
                <a href="@Url.RouteUrl("ViewCivilizationTrait", new { civilizationTraitID = Model.Civilization.CivilizationTrait3.id })">
                    @Model.Civilization.CivilizationTrait3.name
                </a>
            </p>
        }

        <h2>Species</h2>
        @foreach (var species in Model.Civilization.SpeciesInfo)
        {
            <p>
                <a href="@Url.RouteUrl("ViewSpecies", new { speciesID = species.id })">
                    @species.name
                </a>
            </p>
        }

        <h2>Owners</h2>
        @foreach (var owner in Model.Civilization.Owners)
        {
            <p>@owner.User.Username</p>
        }

        <h2>Met Civilizations</h2>
        @foreach (var metCivilization in Model.Civilization.MetCivilizations)
        {
            <p>
                <a href="@Url.RouteUrl("ViewCivilization", new { civilizationID = metCivilization.CivilizationTwo.Info.id })">
                    @metCivilization.CivilizationTwo.Info.name
                </a>
            </p>
        }

        @if (Model.User.GameUserInfo.is_gm && !string.IsNullOrWhiteSpace(Model.Civilization.Info.gmnotes))
        {
            <h2>GM Notes</h2>
            <p>@Model.Civilization.Info.gmnotes</p>
        }
    </div>
</div>