@model Fotiv_Automator.Areas.GamePortal.ViewModels.ViewCivilization
@{
    ViewBag.Title = Model.Civilization.Info.name;
}

<div class="row">
    <h1>
        @Model.Civilization.Info.name

        @if (Fotiv_Automator.Infrastructure.Attributes.RequireGMAdminAttribute.IsGMOrAdmin())
        {
            <a href="@Url.RouteUrl("EditCivilization", new { civilizationID = Model.Civilization.Info.id })" class="btn btn-default pull-right">
                Edit Civilization
            </a>
        }
    </h1>

    <div class="col-md-8">
        <h2>Overview</h2>
        <table class="table table-striped sortable">
            <thead>
                <tr>
                    <th data-defaultsort="asc">ID</th>
                    <th>Colour</th>
                    <th>Total RP</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.Civilization.Info.id</td>
                    <td style="color:@Model.Civilization.Info.colour;">@Model.Civilization.Info.colour</td>
                    <td>@Model.Civilization.Info.rp</td>
                </tr>
            </tbody>
        </table>

        <hr />

        <h2>Assets</h2>
        <div class="row">
            <ul class="nav nav-pills">
                <li class="active">
                    <a href="#1a" data-toggle="tab">Research &amp; Development</a>
                </li>
                <li>
                    <a href="#2a" data-toggle="tab">Research</a>
                </li>
                <li>
                    <a href="#3a" data-toggle="tab">Infrastructure</a>
                </li>
                <li>
                    <a href="#4a" data-toggle="tab">Ships</a>
                </li>
                <li>
                    <a href="#5a" data-toggle="tab">Units</a>
                </li>
            </ul>

            <div class="tab-content clearfix">
                <div class="tab-pane active" id="1a">
                    <h3>
                        Research
                        @if (Model.Civilization.Assets.HasResearchSlots &&
                            (Model.Civilization.PlayerOwnsCivilization(Model.User.ID) ||
                            Fotiv_Automator.Infrastructure.Attributes.RequireGMAdminAttribute.IsGMOrAdmin()))
                        {
                            <a href="@Url.RouteUrl("NewRnDResearch", new { civilizationID = Model.Civilization.ID })" class="btn btn-default pull-right">
                                New Research
                            </a>
                        }
                    </h3>

                    <table class="table table-striped sortable">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>RP Cost</th>
                                <th>Name</th>
                                <th>Build Percentage</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var research in Model.Civilization.Assets.IncompleteResearch)
                            {
                                <tr>
                                    <td>@research.CivilizationInfo.id</td>
                                    <td>@research.ResearchInfo.rp_cost</td>
                                    <td>
                                        <a href="@Url.RouteUrl("ViewRnDResearch", new { rndResearchID = research.CivilizationInfo.id })">
                                            @research.ResearchInfo.name
                                        </a>
                                    </td>
                                    <td>@research.CivilizationInfo.build_percentage</td>
                                </tr>
                            }
                        </tbody>
                    </table>

                    <h3>
                        Ship Construction
                        @if (Model.Civilization.Assets.HasShipConstructionSlots &&
                            (Model.Civilization.PlayerOwnsCivilization(Model.User.ID) ||
                            Fotiv_Automator.Infrastructure.Attributes.RequireGMAdminAttribute.IsGMOrAdmin()))
                        {
                            <a href="@Url.RouteUrl("NewRnDShipConstruction", new { civilizationID = Model.Civilization.ID })" class="btn btn-default pull-right">
                                New Ship
                            </a>
                        }
                    </h3>
                    <table class="table table-striped sortable">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>RP Cost</th>
                                <th>Name</th>
                                <th>Ship Type</th>
                                <th># Built</th>
                                <th>Build Percentage</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var ship in Model.Civilization.Assets.IncompleteShips)
                            {
                                <tr>
                                    <td>@ship.CivilizationInfo.id</td>
                                    <td>@ship.Ship.Info.rp_cost</td>
                                    <td>
                                        <a href="@Url.RouteUrl("ViewRnDShipConstruction", new { rndShipConstructionID = ship.CivilizationInfo.id })">
                                            @ship.Ship.Info.name
                                        </a>
                                    </td>
                                    <td>
                                        <a href="@Url.RouteUrl("ViewShip", new { shipID = ship.Ship.Info.id })">
                                            @ship.Ship.Info.name
                                        </a>
                                    </td>
                                    <td>@ship.Ship.Info.num_build</td>
                                    <td>@ship.CivilizationInfo.build_percentage</td>
                                </tr>
                            }
                        </tbody>
                    </table>

                    <h3>
                        Colonial Development
                        @if (Model.Civilization.Assets.HasColonialDevelopmentSlots &&
                        (Model.Civilization.PlayerOwnsCivilization(Model.User.ID) ||
                        Fotiv_Automator.Infrastructure.Attributes.RequireGMAdminAttribute.IsGMOrAdmin()))
                        {
                            <a href="@Url.RouteUrl("NewRnDColonialDevelopment", new { civilizationID = Model.Civilization.ID })" class="btn btn-default pull-right">
                                New Colonial Development
                            </a>
                        }
                    </h3>
                    <table class="table table-striped sortable">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>RP Cost</th>
                                <th>Planet Name</th>
                                <th>Name</th>
                                <th>Infrastructure Name</th>
                                <th>Build Percentage</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var infrastructure in Model.Civilization.Assets.IncompleteInfrastructure)
                            {
                                <tr>
                                    <td>@infrastructure.CivilizationInfo.id</td>
                                    <td>@infrastructure.InfrastructureInfo.Infrastructure.rp_cost</td>
                                    <td>
                                        <a href="@Url.RouteUrl("ViewPlanet", new { planetID = infrastructure.CivilizationInfo.planet_id })">
                                            @infrastructure.Planet.Info.name
                                        </a>
                                    </td>
                                    <td>
                                        <a href="@Url.RouteUrl("ViewRnDColonialDevelopment", new { rndColonialDevelopmentID = infrastructure.CivilizationInfo.id })">
                                            @infrastructure.CivilizationInfo.name
                                        </a>
                                    </td>
                                    <td>
                                        <a href="@Url.RouteUrl("ViewInfrastructure", new { infrastructureID = infrastructure.CivilizationInfo.struct_id })">
                                            @infrastructure.InfrastructureInfo.Infrastructure.name
                                        </a>
                                    </td>
                                    <td>@infrastructure.CivilizationInfo.build_percentage</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane" id="2a">
                    <h3>
                        Completed Research
                        @if (Fotiv_Automator.Infrastructure.Attributes.RequireGMAdminAttribute.IsGMOrAdmin())
                        {
                            <a href="@Url.RouteUrl("NewRnDResearch", new { civilizationID = Model.Civilization.ID })" class="btn btn-default pull-right">
                                New Research
                            </a>
                        }
                    </h3>
                    @if (Model.Civilization.PlayerOwnsCivilization(Model.User.ID) || Fotiv_Automator.Infrastructure.Attributes.RequireGMAdminAttribute.IsGMOrAdmin())
                    {
                        <table class="table table-striped sortable">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var research in Model.Civilization.Assets.CompletedResearch)
                                {
                                    <tr>
                                        <td>@research.CivilizationInfo.id</td>
                                        <td>
                                            <a href="@Url.RouteUrl("ViewRnDResearch", new { rndResearchID = research.CivilizationInfo.id })">
                                                @research.ResearchInfo.name
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                </div>
                <div class="tab-pane" id="3a">
                    <h3>
                        Infrastructure
                        @if (Fotiv_Automator.Infrastructure.Attributes.RequireGMAdminAttribute.IsGMOrAdmin())
                        {
                            <a href="@Url.RouteUrl("NewRnDColonialDevelopment", new { civilizationID = Model.Civilization.ID })" class="btn btn-default pull-right">
                                New Colonial Development
                            </a>
                        }
                    </h3>
                    @if (Model.Civilization.PlayerOwnsCivilization(Model.User.ID) || Fotiv_Automator.Infrastructure.Attributes.RequireGMAdminAttribute.IsGMOrAdmin())
                    {
                        <table class="table table-striped sortable">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Infrastructure Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var infrastructure in Model.Civilization.Assets.CompletedInfrastructure)
                                {
                                    <tr>
                                        <td>@infrastructure.CivilizationInfo.id</td>
                                        <td>
                                            <a href="@Url.RouteUrl("ViewRnDColonialDevelopment", new { rndColonialDevelopmentID = infrastructure.CivilizationInfo.id })">
                                                @infrastructure.CivilizationInfo.name
                                            </a>
                                        </td>
                                        <td>
                                            <a href="@Url.RouteUrl("ViewInfrastructure", new { infrastructureID = infrastructure.CivilizationInfo.struct_id })">
                                                @infrastructure.InfrastructureInfo.Infrastructure.name
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                </div>
                <div class="tab-pane" id="4a">
                    <h3>
                        Ships
                        @if (Fotiv_Automator.Infrastructure.Attributes.RequireGMAdminAttribute.IsGMOrAdmin())
                        {
                            <a href="@Url.RouteUrl("NewRnDShipConstruction", new { civilizationID = Model.Civilization.ID })" class="btn btn-default pull-right">
                                New Ship
                            </a>
                        }
                    </h3>

                    @if (Model.Civilization.PlayerOwnsCivilization(Model.User.ID) || Fotiv_Automator.Infrastructure.Attributes.RequireGMAdminAttribute.IsGMOrAdmin())
                    {
                        <h4>
                            Unassigned
                            @if (Model.Civilization.PlayerOwnsCivilization(Model.User.ID) || Fotiv_Automator.Infrastructure.Attributes.RequireGMAdminAttribute.IsGMOrAdmin())
                            {
                                <a href="@Url.RouteUrl("NewBattlegroupShip", new { civilizationID = Model.Civilization.ID })" class="btn btn-default pull-right">
                                    New Battlegroup
                                </a>
                            }
                        </h4>
                        <table class="table table-striped sortable">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Ship Type</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var ship in Model.Civilization.Assets.CompletedShips.Where(x => x.CivilizationInfo.ship_battlegroup_id == null))
                                {
                                    <tr>
                                        <td>@ship.CivilizationInfo.id</td>
                                        <td>
                                            <a href="@Url.RouteUrl("ViewRnDShipConstruction", new { rndShipConstructionID = ship.CivilizationInfo.id })">
                                                @ship.CivilizationInfo.name
                                            </a>
                                        </td>
                                        <td>
                                            <a href="@Url.RouteUrl("ViewShip", new { shipID = ship.Ship.Info.id })">
                                                @ship.Ship.Info.name
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>


                        foreach (var battlegroup in Model.Civilization.Assets.BattlegroupShips)
                        {
                            <hr />

                            <h4>
                                <a href="@Url.RouteUrl("ViewBattlegroupShip", new { battlegroupID = battlegroup.ID })">
                                    @battlegroup.Info.name
                                </a>

                                @if (Model.Civilization.PlayerOwnsCivilization(Model.User.ID) || Fotiv_Automator.Infrastructure.Attributes.RequireGMAdminAttribute.IsGMOrAdmin())
                                {
                                    <a href="@Url.RouteUrl("EditBattlegroupShip", new { battlegroupID = battlegroup.ID })" class="btn btn-default pull-right">
                                        Edit Battlegroup
                                    </a>
                                }
                            </h4>
                            <table class="table table-striped sortable">
                                <thead>
                                    <tr>
                                        <th>Battlegroup ID</th>
                                        <th>Total Ships</th>
                                        <th>Total Health</th>
                                        <th>Total Regeneration Factor</th>
                                        <th>Total Attack</th>
                                        <th>Total Special Attack</th>
                                        <th>Total Agility</th>
                                        <th>Total Fighter Slots</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>@battlegroup.ID</td>
                                        <td>@battlegroup.Ships.Count</td>
                                        <td>@(battlegroup.CalculateCurrentHealth())/@(battlegroup.CalculateMaxHealth())</td>
                                        <td>@battlegroup.CalculateRegenerationFactor()</td>
                                        <td>@battlegroup.CalculateAttack()</td>
                                        <td>@battlegroup.CalculateSpecialAttack()</td>
                                        <td>@battlegroup.CalculateAgility()</td>
                                        <td>@(battlegroup.CalculateCurrentFighters())/@(battlegroup.CalculateMaxFighterSlots())</td>
                                    </tr>
                                </tbody>
                            </table>

                            <table class="table table-striped sortable">
                                <thead>
                                    <tr>
                                        <th>Ship ID</th>
                                        <th>Name</th>
                                        <th>Ship Type</th>

                                        <th>Current Health</th>
                                        <th>Regeneration Factor</th>
                                        <th>Attack</th>
                                        <th>Special Attack</th>
                                        <th>Agility</th>
                                        <th>Fighter Slots</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var ship in battlegroup.Ships)
                                    {
                                        <tr>
                                            <td>@ship.CivilizationInfo.id</td>
                                            <td>
                                                <a href="@Url.RouteUrl("ViewRnDShipConstruction", new { rndShipConstructionID = ship.CivilizationInfo.id })">
                                                    @ship.CivilizationInfo.name
                                                </a>
                                            </td>
                                            <td>
                                                <a href="@Url.RouteUrl("ViewShip", new { shipID = ship.Ship.Info.id })">
                                                    @ship.Ship.Info.name
                                                </a>
                                            </td>

                                            <td>@(ship.CivilizationInfo.current_health)/@(ship.CalculateMaxHealth())</td>
                                            <td>@ship.CalculateRegenerationFactor()</td>
                                            <td>@ship.CalculateAttack()</td>
                                            <td>@ship.CalculateSpecialAttack()</td>
                                            <td>@ship.CalculateAgility()</td>
                                            <td>@ship.Ship.Info.maximum_fighters </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                    }
                </div>
                <div class="tab-pane" id="5a">
                    <h3>
                        Units
                        @if (Fotiv_Automator.Infrastructure.Attributes.RequireGMAdminAttribute.IsGMOrAdmin())
                        {
                            <a href="@Url.RouteUrl("NewRnDShipConstruction", new { civilizationID = Model.Civilization.ID })" class="btn btn-default pull-right">
                                New Ship
                            </a>
                        }
                    </h3>
                    @if (Model.Civilization.PlayerOwnsCivilization(Model.User.ID) || Fotiv_Automator.Infrastructure.Attributes.RequireGMAdminAttribute.IsGMOrAdmin())
                    {
                        <table class="table table-striped sortable">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Ship Type</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var ship in Model.Civilization.Assets.CompletedShips)
                                {
                                    <tr>
                                        <td>@ship.CivilizationInfo.id</td>
                                        <td>
                                            <a href="@Url.RouteUrl("ViewRnDShipConstruction", new { rndShipConstructionID = ship.CivilizationInfo.id })">
                                                @ship.CivilizationInfo.name
                                            </a>
                                        </td>
                                        <td>
                                            <a href="@Url.RouteUrl("ViewShip", new { shipID = ship.Ship.Info.id })">
                                                @ship.Ship.Info.name
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                </div>
            </div>
        </div>

        <hr />
    </div>

    <div class="col-md-4">
        <h2>Civilization Traits</h2>
        @if (Model.Civilization.CivilizationTrait1 != null)
        {
            <p>
                <a href="@Url.RouteUrl("ViewCivilizationTrait", new { civilizationTraitID = Model.Civilization.CivilizationTrait1.id })">
                    @Model.Civilization.CivilizationTrait1.name
                </a>
            </p>
        }
        @if (Model.Civilization.CivilizationTrait2 != null)
        {
            <p>
                <a href="@Url.RouteUrl("ViewCivilizationTrait", new { civilizationTraitID = Model.Civilization.CivilizationTrait2.id })">
                    @Model.Civilization.CivilizationTrait2.name
                </a>
            </p>
        }
        @if (Model.Civilization.CivilizationTrait3 != null)
        {
            <p>
                <a href="@Url.RouteUrl("ViewCivilizationTrait", new { civilizationTraitID = Model.Civilization.CivilizationTrait3.id })">
                    @Model.Civilization.CivilizationTrait3.name
                </a>
            </p>
        }

        <h2>Species</h2>
        @foreach (var species in Model.Civilization.SpeciesInfo)
        {
            <p>
                <a href="@Url.RouteUrl("ViewSpecies", new { speciesID = species.id })">
                    @species.name
                </a>
            </p>
        }


        <h2>Owners</h2>
        @foreach (var owner in Model.Civilization.Owners)
        {
            <p>@owner.User.Username</p>
        }

        <h2>Met Civilizations</h2>
        @foreach (var metCivilization in Model.Civilization.MetCivilizations)
        {
            <p>
                <a href="@Url.RouteUrl("ViewCivilization", new { civilizationID = metCivilization.CivilizationTwo.Info.id })">
                    @metCivilization.CivilizationTwo.Info.name
                </a>
            </p>
        }

        @if (Model.User.GameUserInfo.is_gm && !string.IsNullOrWhiteSpace(Model.Civilization.Info.gmnotes))
        {
            <h2>GM Notes</h2>
            <p>@Model.Civilization.Info.gmnotes</p>
        }
    </div>
</div>