@model Fotiv_Automator.Areas.GamePortal.ViewModels.ViewCivilization
@{
    ViewBag.Title = Model.Civilization.Info.name;
}

<div class="row">
    <h1>
        @Model.Civilization.Info.name

        @if (Model.User.GameUserInfo.is_gm)
        {
            <a href="@Url.RouteUrl("EditCivilization", new { civilizationID = Model.Civilization.Info.id })" class="btn btn-default pull-right">
                Edit Civilization
            </a>
        }
    </h1>

    <div class="col-md-8">
        <h2>Overview</h2>
        <table class="table table-striped sortable">
            <thead>
                <tr>
                    <th data-defaultsort="asc">ID</th>
                    <th>Colour</th>
                    <th>Total RP</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.Civilization.Info.id</td>
                    <td style="color:@Model.Civilization.Info.colour;">@Model.Civilization.Info.colour</td>
                    <td>@Model.Civilization.Info.rp</td>
                </tr>
            </tbody>
        </table>

        <h2>Assets</h2>
        <div class="row">
            <ul class="nav nav-pills">
                <li class="active">
                    <a href="#1a" data-toggle="tab">Research &amp; Development</a>
                </li>
                <li>
                    <a href="#2a" data-toggle="tab">Completed Research</a>
                </li>
                <li>
                    <a href="#3a" data-toggle="tab">Infrastructure</a>
                </li>
                <li>
                    <a href="#4a" data-toggle="tab">Ships</a>
                </li>
            </ul>

            <div class="tab-content clearfix">
                <div class="tab-pane active" id="1a">
                    <h3>Research and Development</h3>
                </div>
                <div class="tab-pane" id="2a">
                    <h3>Completed Research</h3>
                </div>
                <div class="tab-pane" id="3a">
                    <h3>Infrastructure</h3>
                </div>
                <div class="tab-pane" id="4a">
                    <h3>Ships</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <h2>Civilization Traits</h2>
        @if (Model.Civilization.CivilizationTrait1 != null)
        {
            <p>
                <a href="@Url.RouteUrl("ViewCivilizationTrait", new { civilizationTraitID = Model.Civilization.CivilizationTrait1.id })">
                    @Model.Civilization.CivilizationTrait1.name
                </a>
            </p>
        }
        @if (Model.Civilization.CivilizationTrait2 != null)
        {
            <p>
                <a href="@Url.RouteUrl("ViewCivilizationTrait", new { civilizationTraitID = Model.Civilization.CivilizationTrait2.id })">
                    @Model.Civilization.CivilizationTrait2.name
                </a>
            </p>
        }
        @if (Model.Civilization.CivilizationTrait3 != null)
        {
            <p>
                <a href="@Url.RouteUrl("ViewCivilizationTrait", new { civilizationTraitID = Model.Civilization.CivilizationTrait3.id })">
                    @Model.Civilization.CivilizationTrait3.name
                </a>
            </p>
        }

        <h2>Species</h2>
        @foreach (var species in Model.Civilization.SpeciesInfo)
        {
            <p>
                <a href="@Url.RouteUrl("ViewSpecies", new { speciesID = species.id })">
                    @species.name
                </a>
            </p>
        }


        <h2>Owners</h2>
        @foreach (var owner in Model.Civilization.Owners)
        {
            <p>@owner.User.Username</p>
        }

        @if (Model.User.GameUserInfo.is_gm)
        {
            <h2>GM Notes</h2>
            <p>@Model.Civilization.Info.gmnotes</p>
        }
    </div>
</div>