@model Fotiv_Automator.Areas.GamePortal.ViewModels.ViewCivilization
@{
    ViewBag.Title = Model.Civilization.Info.name;
}

<div class="row">
    <h1>
        @Model.Civilization.Info.name

        @if (Model.User.GameUserInfo.is_gm)
        {
            <a href="@Url.RouteUrl("EditCivilization", new { civilizationID = Model.Civilization.Info.id })" class="btn btn-default pull-right">
                Edit Civilization
            </a>
        }
    </h1>

    <div class="col-md-8">
        <h2>Overview</h2>
        <table class="table table-striped sortable">
            <thead>
                <tr>
                    <th data-defaultsort="asc">ID</th>
                    <th>Colour</th>
                    <th>Total RP</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.Civilization.Info.id</td>
                    <td style="color:@Model.Civilization.Info.colour;">@Model.Civilization.Info.colour</td>
                    <td>@Model.Civilization.Info.rp</td>
                </tr>
            </tbody>
        </table>

        <div class="row">
            @if (Model.User.GameUserInfo.is_gm)
            {
                <h3>GM Notes</h3>
                <p>@Model.Civilization.Info.gmnotes</p>
            }
        </div>
    </div>

    <div class="col-md-4">
        <h2>Civilization Traits</h2>
        @if (Model.Civilization.CivilizationTrait1 != null)
        {
            <p>
                <a href="@Url.RouteUrl("ViewCivilizationTrait", new { civilizationTraitID = Model.Civilization.CivilizationTrait1.id })">
                    @Model.Civilization.CivilizationTrait1.name
                </a>
            </p>
        }
        @if (Model.Civilization.CivilizationTrait2 != null)
        {
            <p>
                <a href="@Url.RouteUrl("ViewCivilizationTrait", new { civilizationTraitID = Model.Civilization.CivilizationTrait2.id })">
                    @Model.Civilization.CivilizationTrait2.name
                </a>
            </p>
        }
        @if (Model.Civilization.CivilizationTrait3 != null)
        {
            <p>
                <a href="@Url.RouteUrl("ViewCivilizationTrait", new { civilizationTraitID = Model.Civilization.CivilizationTrait3.id })">
                    @Model.Civilization.CivilizationTrait3.name
                </a>
            </p>
        }

        <h2>Species</h2>
        @foreach (var species in Model.Civilization.SpeciesInfo)
        {
            <p>
                <a href="@Url.RouteUrl("ViewSpecies", new { speciesID = species.id })">
                    @species.name
                </a>
            </p>
        }


        <h2>Owners</h2>
        @foreach (var owner in Model.Civilization.Owners)
        {
            <p>@owner.User.Username</p>
        }
    </div>
</div>