@model Fotiv_Automator.Areas.GamePortal.ViewModels.IndexShipRates
@{
    ViewBag.Title = string.Format("Ship Rates");
}

<h1>List of Ship Rates</h1>

<div class="row">
    <h2>
        Ship Rates
        @if (Model.User.GameUserInfo.is_gm)
        {
            <a href="@Url.RouteUrl("NewShipRate")" class="btn btn-default pull-right">
                New Ship Rate
            </a>
        }
    </h2>
    <table class="table table-striped sortable">
        <thead>
            <tr>
                <th data-defaultsort="asc">ID</th>
                <th>Name</th>
                <th>Build Rate</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var shipRate in Model.ShipRates)
            {
                <tr>
                    <td>@shipRate.id</td>
                    <td>
                        <a href="@Url.RouteUrl("ViewShipRate", new { shipRateID = shipRate.id })">
                            @shipRate.name
                        </a>
                    </td>
                    <td>@shipRate.build_rate</td>
                </tr>
            }
        </tbody>
    </table>
</div>


