@model Fotiv_Automator.Areas.GamePortal.ViewModels.ViewShipRate
@{
    ViewBag.Title = Model.ShipRate.name;
}

<div class="row">
    <h1>
        @Model.ShipRate.name

        @if ((Model.User.GameUserInfo.is_gm && Model.ShipRate.game_id != null) || User.IsInRole("Admin"))
        {
            <a href="@Url.RouteUrl("EditShipRate", new { shipRateID = Model.ShipRate.id })" class="btn btn-default pull-right">
                Edit Ship Rate
            </a>
        }
    </h1>

    <table class="table table-striped sortable">
        <thead>
            <tr>
                <th data-defaultsort="asc">ID</th>
                <th>Name</th>
                <th>Build Rate</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.ShipRate.id</td>
                <td>@Model.ShipRate.name</td>
                <td>@Model.ShipRate.build_rate</td>
            </tr>
        </tbody>
    </table>
</div>