@model Fotiv_Automator.Areas.GamePortal.ViewModels.Forms.RnDResearchForm
@{
    ViewBag.Title = string.Format("New R&D Research");
}

<div class="row">
    @using (Html.BeginForm())
    {
        <div class="hidden" id="anti-forgery-container">
            @Html.AntiForgeryToken()
        </div>

        <div class="col-md-6">
            @Html.ValidationSummary()

            <div>
                @if (Fotiv_Automator.Infrastructure.Attributes.RequireGMAdminAttribute.IsGMOrAdmin())
                {
                    @Html.LabelFor(x => x.CivilizationID)
                    @Html.EditorFor(x => x.CivilizationID)
                }
                else
                {
                    @Html.LabelFor(x => x.CivilizationID)
                    @Html.DisplayTextFor(x => x.CivilizationID)
                    @Html.HiddenFor(x => x.CivilizationID)
                }
            </div>

            @if (Fotiv_Automator.Infrastructure.Attributes.RequireGMAdminAttribute.IsGMOrAdmin())
            {
                <div>
                    @Html.LabelFor(x => x.BuildPercentage)
                    @Html.EditorFor(x => x.BuildPercentage)
                </div>
            }

        </div>
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">Research</div>
                <div class="panel-body">
                    <ul class="item-select">
                        @for (var i = 0; i < Model.Research.Count; i++)
                        {
                            var research = Model.Research[i];
                            <li>
                                @Html.HiddenFor(x => x.Research[i].ID)

                                @Html.DisplayFor(x => x.Research[i].Name)
                                @Html.HiddenFor(x => x.Research[i].Name)

                                @if (Model.Research[i].IsChecked)
                                {
                                    @Html.RadioButtonFor(x => x.SelectedResearchID, Model.Research[i].ID, new { id = "research" + research.ID, @checked = "checked" })
                                }
                                else
                                {
                                    @Html.RadioButtonFor(x => x.SelectedResearchID, Model.Research[i].ID, new { id = "research" + research.ID })
                                }
                            </li>
                        }
                    </ul>
                </div>
            </div>

            <div class="panel panel-info">
                <div class="panel-heading">Build At</div>
                <div class="panel-body">
                    <ul class="item-select">
                        @for (var i = 0; i < Model.BuildAtInfrastructure.Count; i++)
                        {
                            var buildAt = Model.BuildAtInfrastructure[i];
                            <li>
                                @Html.HiddenFor(x => x.BuildAtInfrastructure[i].ID)

                                @Html.DisplayFor(x => x.BuildAtInfrastructure[i].Name)
                                @Html.HiddenFor(x => x.BuildAtInfrastructure[i].Name)

                                @if (Model.BuildAtInfrastructure[i].IsChecked)
                                {
                                    @Html.RadioButtonFor(x => x.SelectedBuildAtInfrastructureID, Model.BuildAtInfrastructure[i].ID, new { id = "buildAt" + buildAt.ID, @checked = "checked" })
                                }
                                else
                                {
                                    @Html.RadioButtonFor(x => x.SelectedBuildAtInfrastructureID, Model.BuildAtInfrastructure[i].ID, new { id = "buildAt" + buildAt.ID })
                                }
                            </li>
                        }
                    </ul>
                </div>
            </div>

            <input class="btn btn-default newButton" type="submit" value="Create R&D Research" />
        </div>
    }
</div>