@using System.Web.Optimization
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section MainNavbarCenter {
    @{
        var game = Fotiv_Automator.Areas.GamePortal.GameState.Game;
        if (game != null)
        {
            <li><a href="@Url.RouteUrl("Game")">Overview</a></li>
            <li><a href="@Url.RouteUrl("StarMap")">Star Map</a></li>
            <li><a href="@Url.RouteUrl("Civilizations")">Civilizations</a></li>
            <li><a href="@Url.RouteUrl("Statistics")">Statistics</a></li>
        }
    }
}

@section MainNavbarRight {
    @{
        <li><a href="@Url.RouteUrl("GameSettings")">Game Settings</a></li>
    }
}

@RenderBody()

@section Scripts {
    @RenderSection("GameScripts", false)
}